/* *********************************************************************
 * Arms Factory CSS
***********************************************************************/
#AF_AUbar {
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 10px;
	background: rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	}
#AF_AUbar  div{
	display: inline-block;
	height: 50px;
	width: 50px;
	color: #FFFFFF;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	}
#AF_AUbar  img {
	position: absolute;
	height: 50px;
	width: 50px;	
	}
.activeAU {
	-webkit-box-shadow: 0 0 10px 3px rgba(255,255,255,0.7);
	box-shadow: 0 0 10px 3px rgba(255,255,255,0.7);
	cursor: default;
	}
#AF_activeAU {
	position: absolute;
	top: 100px;
	left: 80px;
	padding: 5px;
	background: #222 url(../SPFrames/rusted-metal.jpg);
	border: 3px solid #A8A495;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8), 0px 2px 10px rgba(0,0,0,0.8);
	box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8), 0px 2px 10px rgba(0,0,0,0.8);
	color: #A9A098;
	font: bold 11pt "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8), 0 -1px 0 rgba(255,255,255,0.3);
	}
#AF_AUname {
	position: absolute;
	font-size: 18px;
	}
#AF_AUpic {
	position: relative;
	display: block;
	height: 100px;
	width: 100px;
	margin-left: 150px;
	}
#AF_AUweapons {
	position: relative;
	display: block;
	height: 130px;
	margin: 0 auto;
	}
#AF_AUweapStats div {
	display: inline-block;
	border: 1px solid #000000;
	height: 25px;
	padding: 0px 3px;
	}
#AF_AUstats {
	padding-left: 5px;
	margin-bottom: -5px;
	}
#AF_AUstats > div {
	display: inline-block;
	border: 2px ridge #A8A495;
	min-width: 60px;
	padding: 3px;
	margin-bottom: 5px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.8), 0px 1px 1px rgba(0,0,0,0.8);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.8), 0px 1px 1px rgba(0,0,0,0.8);
	vertical-align: top;
	}
#AF_AUstats img {
	margin: 1px 5px 1px 0px;
	float: left;
	}
#AF_assignAU {
	position: absolute;
	top: 0px;
	left: 335px;
	}
#AF_queue {
	position: absolute;
	right: 5px;
	top: 0px;
	display: block;
	width: 295px;
	text-align: left;
	padding: 5px;
	}
#AF_queue hr {
	border: 1px solid #FFF;
	}
#AF_queueCap {
	position: absolute;
	bottom: 10px;
	right: 15px;
	}
#AF_queueList {
	height: 270px;
	overflow: auto;
	}
.AFtimes {
	position: relative;
	top: 10px;
	float: right;
	}
#AF_troopPush {
	top: 65px;
	right: 100px;
	}
#AF_capNeeded {
	position: absolute;
	bottom: -14px;
	left: -110px;
	width: 150px;
	font-size: 14px;
	}