/* *********************************************************************
 * Account Settings Menu CSS
***********************************************************************/
#accountPreferences {
	position: absolute;
	top: 10px;
	left: 17px;
	display: none;
	z-index: 1000;
	}
#accountPreferences .popFrameBody {
	height: 485px;
	width: 760px;
	}
#ASM_title {
	height: 25px;
	font-size: 1.5em;
	text-align: center;
	border-bottom: 1px solid #FFFFFF;
	font-size: 20px;
	}
#ASM_tabBar {
	height: 50px;
	}
#ASM_error {
	height: 20px;
	}
#ASM_window {
	position: relative;
	height: 360px;
	}
#ASM_playerName {
	height: 30px;
	font-size: 18px;
	}
#ASM_playerBio {
	position: absolute;
	top: -15px;
	right: 5px;
	font-size: 14px;
	}
#ASM_achievements {
	height: 215px;
	width: 490px;
	text-align: center;
	}
.achievement {
	display: inline-block;
	margin: 0 5px;
	text-align: center;
	}
.achievement img {
	display: block;
	height: 100px;
	width: 100px;
	margin: 0 auto;
	cursor: pointer;
	}
#ASM_playerStats {
	position: absolute;
	top: 30px;
	left: 5px;
	}
#ASM_playerStats .lightFrameBody {
	height: 180px;
	width: 208px;
	color: #000000;
	}
#ASM_townDisplay {
	position: absolute;
	top: 245px;
	left: 5px;
	}
#ASM_TDheader {
	padding-left: 40px;
	}
#ASM_townScroll {
	height: 100px;
	width: 320px;
	margin-bottom: -10px;
	overflow: auto;
	}
#ASM_townList {
	min-height: 101px;
	}
#ASM_save {
	position: absolute;
	bottom: -15px;
	right: 0px;
	height: 41px;
	width: 151px;
	background: url(../AIFrames/buttons/Save-eve.png) no-repeat 0 0;
	}
#ASM_save:hover {
	background-position: 0 -41px;
	}
#ASM_save:active {
	background-position: 0 -82px;
	}
#ASM_close {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	width: 28px;
	height: 33px;
	background: url("../AIFrames/Content Frame Elements/close.png") no-repeat 0 0;
	}
.addInfo, #ASM_TDheader span {
	float: right;
	}
.townInfo {
	width: 300px;
	}
.townNameInput {
	width: 160px;
	}
#ASM_TDheader span {
	margin-right: 18px;
	}
#ASM_fbConnect {
	position: absolute;
	bottom: 30px;
	right: 0px;
	}
.fbButton {
	height: 17px;
	padding:5px 5px 0px 25px;
	border-bottom: 1px solid #1A356E;
	border-top: 1px solid #879AC0;
	background: #5F78AB url(http://static.ak.fbcdn.net/rsrc.php/zDYYQ/hash/deh9tyqv.png) no-repeat 0% -188px;
	font: bold 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
	text-align: right;
	cursor: pointer;
	}