/* *********************************************************************
 * Account Settings Menu CSS
***********************************************************************/
#ASM_outerBox {
	color: #A9A098;
	font: bold 1em "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8), 0 -1px 0 rgba(255, 255, 255, 0.3);
	}
#ASM_title {
	height: 25px;
	padding-top: 5px;
	border-bottom: 2px ridge #A9A098;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	}
#ASM_tabBar {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: start;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: start;
	
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: start;

	height: 45px;
	padding-top: 5px;
	border-bottom: 2px ridge #A9A098;
	}
.no-flexbox #ASM_tabBar > div {
	display: inline-block;
	}
#ASM_error {
	position: absolute;
	top: 35px;
	left: 8px;
	display: none;
	height: 30px;
	width: 190px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	}
#ASM_options {
	display: none;
	}
#ASM_window {
	position: relative;
	height: 360px;
	}
#ASM_playerName {
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	}
#ASM_playerBio, #ASM_playerStats, #ASM_townDisplay {
	padding: 5px;
	border: 3px solid #A8A495;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8), 0px 2px 10px rgba(0,0,0,0.8);
	box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8), 0px 2px 10px rgba(0,0,0,0.8);
	}
#ASM_playerBio {
	position: absolute;
	top: 0px;
	right: 5px;
	font-size: 14px;
	}
#ASM_achievements {
	height: 215px;
	width: 490px;
	text-align: center;
	}
.achievement {
	display: inline-block;
	margin: 0 5px;
	text-align: center;
	}
.achievement img {
	display: block;
	height: 100px;
	width: 100px;
	margin: 0 auto;
	cursor: pointer;
	}
#ASM_playerStats {
	position: absolute;
	top: 40px;
	left: 5px;
	width: 200px;
	height: 190px;
	}
#ASM_townDisplay {
	position: absolute;
	top: 261px;
	left: 5px;
	}
#ASM_TDheader {
	padding-left: 40px;
	}
#ASM_townScroll {
	height: 150px;
	width: 240px;
	margin-bottom: -10px;
	overflow-y: scroll;
	overflow-x: hidden;
	}
#ASM_save {
	position: absolute;
	bottom: -80px;
	right: 10px;
	}
.addInfo, #ASM_TDheader span {
	float: right;
	}
.townInfo {
	width: 220px;
	}
#ASM_TDheader span {
	margin-right: 18px;
	}
#ASM_fbConnect {
	position: absolute;
	bottom: -30px;
	right: 10px;
	}