/************************************************************************************************************************************************
 * CSS code for bottom navigation bar
************************************************************************************************************************************************/
#bottomlinks {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 175px;
	height: 700px;
	margin: 0;
	padding: 0;
	background: url(../AIFrames/AI-Frames-Sidebar.png) no-repeat 5px 10px;
	}
#rankings {
	position: absolute;
	top: 34px;
	left: 40px;
	height: 50px;
	width: 70px;
	background: url(../AIFrames/buttons/rankings.png) no-repeat left top;
	cursor: pointer;
	}
#bottomlinks li {
	position: relative;
	top: 111px;
	left: 26px;
	display: block;
	height: 73px;
	width: 109px;
	cursor: pointer;
	}
#console, #IO {
	display: inline-block !important;
	height: 58px !important;
	width: 53px !important;
	}
#console {
	background: url(../AIFrames/buttons/console-off.png) no-repeat 0 0;
	}
#console.active {
	background-image: url(../AIFrames/buttons/Console-ON.png)
	}
#IO {
	background: url(../AIFrames/buttons/io0.png) no-repeat 0 0;
	}
#IO.incomingE {
	background-image: url(../AIFrames/buttons/io1a.png);
	}
#IO.incomingF {
	background-image: url(../AIFrames/buttons/io1b.png);
	}
#IO.outgoing {
	background-image: url(../AIFrames/buttons/io2b.png);
	}
#IO.outgoing.incomingF {
	background-image: url(../AIFrames/buttons/io3bb.png);
	}
#IO.outgoing.incomingE {
	background-image: url(../AIFrames/buttons/io3ab.png);
	}
#League {
	background: url(../AIFrames/buttons/LEAGUESsheet.png) no-repeat 0 0;
	}
#Quests {
	background: url(../AIFrames//buttons/QUESTsheet.png) no-repeat 0 0;
	}
#CS {
	background: url(../AIFrames//buttons/CSsheet.png) no-repeat 0 0;
	}
#UTCC {
	background: url(../AIFrames//buttons/UTCCsheet.png) no-repeat 0 0;
	}
#EVE {
	background: url(../AIFrames//buttons/EVEsheet.png) no-repeat 0 0;
	}
#bottomlinks li.frame01 {
	background-position: -111px 0;
	}
#bottomlinks li.frame02 {
	background-position: -222px 0;
	}
#bottomlinks li.frame03 {
	background-position: -333px 0;
	}
#bottomlinks li.frame04 {
	background-position: -444px 0;
	}
#bottomlinks li.frame05 {
	background-position: -555px 0;
	}
#bottomlinks li.frame06 {
	background-position: -666px 0;
	}
#bottomlinks li.frame07 {
	background-position: -777px 0;
	}
#bottomlinks li.frame08 {
	background-position: -888px 0;
	}
#bottomlinks li.frame09 {
	background-position: -999px 0;
	}
#bottomlinks li.frame10 {
	background-position: -1110px 0;
	}
#bottomlinks li.frame11 {
	background-position: -1221px 0;
	}