/************************************************************************************************************************************************
 * CSS code for bottom navigation bar
************************************************************************************************************************************************/
#bottomlinks {
	position: absolute;
	top: 667px;
	left: 1px;
	width: 763px;
	height: 47px;
	margin: 0;
	padding: 0;
	z-index: 4;
	}
#bottomlinks li {
	display: inline-block;
	height: 47px;
	width: 162px;
	cursor: pointer;
	background-image: url(../SPFrames/bottom-nav.png);
	vertical-align: top;
	}
li#IO {
	height: 36px;
	width: 44px;
	padding-top: 16px;
	background: url(../SPFrames/IO-button.png) no-repeat 0 0;
	color: #a9a098;
	font: bold 10px "Trajan Pro",Trajan,serif;
	text-align: center;
	text-shadow: 0 1px rgba(0,0,0,0.8);
	}
li#IO:hover {
	background-position: -44px 0;
	}
li#IO:active, li#IO.open {
	height: 34px;
	padding-top: 18px;
	background-position: -88px 0;
	}
	
li#console{
	height: 46px;
	width: 43px;
	background: url(../SPFrames/console-button.png) no-repeat 0 0;
	}
li#console:hover {
	background-position: -43px 0;
	}
li#console:active, li#console.active {
	background-position: -86px 0;
	}
	
#League {
	background-position: 0 -141px;
	}
#League:hover {
	background-position: -162px -141px;
	}
#League:active, #League.open {
	background-position: -324px -141px;
	}
	
#Quests {
	background-position: 0 -94px;
	}
#Quests:hover {
	background-position: -162px -94px;
	}
#Quests:active, #Quests.open {
	background-position: -324px -94px;
	}
	
#CS {
	background-position: 0 -47px;
	}
#CS:hover {
	background-position: -162px -47px;
	}
#CS:active, #CS.open {
	background-position: -324px -47px;
	}
	
#EVE {
	background-position: 0 0;
	}
#EVE:hover {
	background-position: -162px 0;
	}
#EVE:active, #EVE.open {
	background-position: -324px 0;
	}