/************************************************************************************************************************************************
 * CSS code for Building Interfaces
************************************************************************************************************************************************/
#BUI_bldgContent,#BUI_deconButton {
	position: absolute;
	}
#BUI_header,#BUI_winHeader, #BUI_bldgContent{
	left: 0px;
	width: 760px;
	color: #FFF;
	}
#BUI_bldgContent {
	display: none;
	height: 100%;
	color: #000;
	}
#BUI_header,#BUI_winHeader {
	position: relative;
	height: 120px;
	padding: 10px 30px;
	width: 700px;
	color: #aaa699;
	z-index: 2;
	}
#BUI_winHeader {
	top: 3px;
	left: -10px;
	}
#BUI_header {
	top: -140px;
	display: none;
	background: url(../SPFrames/Buildings/UI/BUI-header.png) no-repeat center bottom;
	font-family: "Trajan Pro",Trajan,serif;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8), 0 -1px 0 rgba(255,255,255,0.3);
	}
#BUI_bldgInfo{
	padding-left: 5px;
	margin-top: -15px;
	font-size: 20px;
	font-weight: bold;
	}
#BUI_tutorial {
	position: relative;
	top: 15px;
	}
#BUI_extras {
	position: absolute;
	top: 50px;
	right: 40px;
	}
.BUI_up {
	position: absolute;
	left: 70px;
	bottom: 70px;
	font-size: 13px;
	font-weight: bold;
	}
#BUI_upWood, #BUI_upSteel,#BUI_upCrystal,#BUI_upTime {
	position: absolute;	
	bottom: 35px;
	font: 11px "Lucida Sans Unicode", LucidaSans, "Lucida Grande", sans-serif;
	color: #A57862;
	text-shadow: none;
	}
#BUI_upWood {
	left: 95px;
	}
#BUI_upCrystal {
	left: 170px;
	}
#BUI_upSteel {
	left: 255px;
	}
#BUI_upTime {
	left: 332px;
	}
#BUI_upButton {
	position: absolute;
	bottom: 15px;
	right: 204px;
	height: 47px;
	width: 164px;
	background: url(../SPFrames/Buildings/UI/upgrade-button.png) no-repeat 0 0;
	cursor: pointer;
	}
#BUI_upButton:hover {
	background-position: -164px 0;
	}
#BUI_upButton:active, #BUI_upButton.noUp {
	background-position: -328px 0;
	}
#BUI_deconButton {
	bottom: 15px;
	right: 40px;
	height: 47px;
	width: 164px;
	background: url(../SPFrames/Buildings/UI/destruct-button.png) no-repeat 0 0;
	cursor: pointer;
	}
#BUI_deconButton:hover {
	background-position: -164px 0;
	}
#BUI_deconButton:active, #BUI_deconButton.noDe {
	background-position: -328px 0;
	}
#BUI_upgrading {
	display: inline;
	margin-left: 10px;
	}
#BUI_fail {
	position: absolute;
	top: 30px;
	right: 40px;
	padding: 0 5px;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #F00;
	}
#BUI_bldgContent {
	top: 130px;
	z-index: 3;
	height: 397px;
	width: 740px;
	}
#BUI_bFail {
	position: absolute;
	top: 345px;
	left: 100px;
	max-height: 40px;
	max-width: 120px;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #F00;
	z-index: 5;
	}
#BUI_bldPplBox {
	position: absolute;
	bottom: -140px;
	left: 20px;
	height: 140px;
	width: 721px;
	background: url(../SPFrames/Buildings/UI/BUI-unit-build.png) no-repeat 0 0;
	color: #aaa699;
	font-family: "Trajan Pro",Trajan,serif;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8), 0 -1px 0 rgba(255,255,255,0.3);
	}
#BUI_bldPpl {
	position: relative;
	top: -2px;
	left: 20px;
	}
#BUI_pplHelp {
	position: absolute;
	top: 15px;
	left: 15px;
	}
.pplHelp, .info {
	display: inline-block;
	height: 37px;
	width: 35px;
	cursor: help;
	background: url(../SPFrames/Buildings/UI/info-button.png) no-repeat 0 0;
	font: 10pt "Lucida Sans Unicode", LucidaSans, Lucida, sans-serif;
	}
.pplHelp:hover, .info:hover {
	background-position: -35px 0;
	}
.pplHelp:active, .info:active {
	background-position: -70px 0;
	}
#BUI_numPpl {
	position: absolute;
	top: 358px;
	left: 59px;
	height: 25px;
	width: 70px;
	background: transparent;
	border: none;
	outline: none;
	color: #A57862;
	font: 10pt "Lucida Sans Unicode", LucidaSans, "Lucida Grande", sans-serif;
	text-align: center;
	}
#BUI_bldPplCost {
	position: absolute;
	top: 57px;
	left: 221px;
	height: 70px;
	width: 220px;
	color: #A57862;
	font: 8pt "Lucida Sans Unicode", LucidaSans, "Lucida Grande", sans-serif;
	text-shadow: none;
	}
.BUI_bldPpl {
	height: 25px;
	width: 70px;
	margin: 3px 0 0 3px;
	padding-top: 7px;
	float: left;
	}
.BUI_bldPpl div {
	padding-left: 18px;
	}
#BUI_pplWood {
	padding-left: 26px;
	}
#BUI_bldPplHeader {
	width: 650px;
	margin: 20px 0 0 50px;
	font-size: 17px;
	}
#BUI_numCivs {
	float: right;
	}
#BUI_pplBldgInfo {
	position: absolute;
	bottom: -45px;
	right: 155px;
	font-size: 11px;
	}
#BUI_bldgSwitch {
	position: absolute;
	top: 2px;
	right: 2px;
	display: none;
	}
.bldButton {
	position: absolute;
	display: inline-block;
	height: 41px;
	width: 120px;
	background: url(../AIFrames/buttons/build.png) no-repeat 0 -41px;
	cursor: pointer;
`	}
.bldButton:hover {
	background-position: 0 0;
	}
.bldButton:active {
	background-position: 0 -82px;
	}
#BUI_bldPplButton, #BUI_dummyPplButton {
	position: absolute;
	top: 353px;
	right: 40px;
	height: 48px;
	width: 99px;
	background: url(../SPFrames/Buildings/UI/build-button.png) no-repeat 0 0;
	cursor: pointer;
	}
#BUI_dummyPplButton {
	top: 91px;
	right: 31px;
	}
#BUI_bldPplButton:hover {
	background-position: -99px 0;
	}
#BUI_bldPplButton:active, #BUI_bldPplButton.noBld, #BUI_dummyPplButton {
	background-position: -199px 0;
	}
.noBld, .noUp, .noDe  {
	cursor: default !important;
	}
.useBP, .bpResearch {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 32px;
	background: url(../AIFrames/buttons/BP.png) no-repeat 0 0;
	cursor: pointer;
	}
.notBH .useBP, .notBH .bpResearch {
	display: none;
	}