/************************************************************************************************************************************************
 * CSS code for Building Interfaces
************************************************************************************************************************************************/
#BUI_header, #BUI_bldgContent,#BUI_deconButton {
	position: absolute;
	}
#BUI_header, #BUI_bldgContent{
	left: 0px;
	width: 100%;
	color: #FFF;
}
#BUI_bldgContent {
	color: #000;
	}
#BUI_header {
	top: 0px;
}
#BUI_bldgInfo{
	padding-left: 5px;
	border-bottom: 1px solid #888888;
	font-size: 20px;
	}
#BUI_extras {
	position: absolute;
	top: 65px;
	left: 10px;
}
.BUI_up {
	display: inline-block;
	margin: 0px 0px 10px 5px;
	font-size: 14px;
	}
.upSteel, .upWood, .upManMade, .upFood, .upTime  {
	width: 96px;
	height: 26px;
	padding-top: 5px;
	background: no-repeat left top;
	font-size: 14px;
	}
.upSteel {
	padding-left: 15px;
	background-image: url(../AIFrames/icons/MetalIcon.png);
	}
.upWood {
	padding-left: 35px;
	background-image: url(../AIFrames/icons/TimberIcon.png);
	}
.upManMade {
	padding-left: 25px;
	background-image: url(../AIFrames/icons/PlasticIcon.png)
	}
.upFood {
	padding-left: 15px;
	background-image: url(../AIFrames/icons/FoodIcon.png);
	}
.upTime {
	padding-left: 30px;
	background-image: url(../AIFrames/icons/TimeIcon.png);
	}
#BUI_upButton {
	position: absolute;
	bottom: 0px;
	right: 114px;
	height: 32px;
	width: 101px;
	padding: 2px 0 0 13px;
	background: url(../AIFrames/buttons/Upgrade-button.png) no-repeat 0 0;
	cursor: pointer;
	color: #000000;
	font-size: 20px;
	}
#BUI_upButton:active {
	background-position: 0 -34px;
	color: #FFFFFF;
	}
#BUI_upgrading {
	display: inline;
	margin-left: 10px;
	}
#BUI_fail {
	color: red;
	position: absolute;
	top: 30px;
	right: 5px;
	}
#BUI_bldgContent {
	top: 95px;
	}
#BUI_bFail {
	position: absolute;
	top: 405px;
	left: 25px;
	height: 30px;
	width: 150px;
	display: block;
	color: red;
	z-index: 5;
	}
#BUI_bldPplBox {
	position: absolute;
	top: 330px;
	left: -18px;
	height: 120px;
	width: 760px;
	padding: 0px 28px;
	background: url("../AIFrames/Content Frame Elements/CivvyBox.png") no-repeat 0 0;
	}
#BUI_bldPpl {
	position: relative;
	top: -2px;
	left: 20px;
	}
#BUI_pplHelp {
	position: absolute;
	top: 0px;
	left: 20px;
	}
.pplHelp, .info {
	display: inline-block;
	height: 25px;
	width: 25px;
	cursor: help;
	background: url("../../images/client/Help-button.png") no-repeat 0 0;
	}
[for=BUI_numPpl] {
	display: block;
	font-size: 20px;
	}
#BUI_numPpl {
	height: 25px;
	width: 70px;
	border-color: #000000 !important;
	color: #000000 !important;
	}
#BUI_straightArrow {
	position: absolute;
	top: 30px;
	left: 80px;
	height: 8px;
	width: 45px;
	background: url("../AIFrames/Content Frame Elements/CivvyFrame-StraightArrow.png") no-repeat 0 0;
	}
#BUI_bentArrow {
	position: absolute;
	top: 10px;
	right: 160px;
	height: 28px;
	width: 65px;
	background: url("../AIFrames/Content Frame Elements/CivvyFrame-BentArrow.png") no-repeat 0 0;
	}
.BUI_bldPpl {
	height: 31px;
	width: 125px;
	margin: 3px 0 0 3px;
	padding-top: 1px;
	float: left;
	}
.BUI_bldPpl .upSteel {
	padding-left: 36px;
	background: url(../AIFrames/icons/MetalIcon-black.png) no-repeat 10px 0;
	}
.BUI_bldPpl .upWood {
	padding-left: 36px;
	background: url(../AIFrames/icons/TimberIcon-black.png) no-repeat 0 0;
	}
.BUI_bldPpl .upManMade {
	padding-left: 36px;
	background: url(../AIFrames/icons/PlasticIcon-black.png) no-repeat 6px 0;
	}
.BUI_bldPpl .upFood {
	padding-left: 36px;
	background: url(../AIFrames/icons/FoodIcon-black.png) no-repeat 11px 0;
	}
.BUI_bldPpl .upTime {
	padding-left: 36px;
	background: url(../AIFrames/icons/TimeIcon-black.png) no-repeat 4px 0;
	}
.totalCost {
	font-size: 20px;
	}
#BUI_bldPplHeader {
	margin-left: 20px;
	border-bottom: 1px solid #000000;
	font-size: 18px;
	}
#BUI_numCivs {
	float: right;
	}
#BUI_pplBldgInfo {
	position: absolute;
	bottom: -26px;
	right: 30px;
	font-size: 14px;
	}
#BUI_bldPplCost {
	position: absolute;
	top: 24px;
	left: 190px;
	height: 70px;
	width: 387px;
	background: url("../AIFrames/Content Frame Elements/CivvyFrame-InfoBox.png") no-repeat 0 0;
	}
#BUI_deconButton {
	bottom: 0px;
	right: 0px;
	height: 32px;
	width: 109px;
	padding: 2px 0 0 5px;
	background: url(../AIFrames/buttons/Destruct-button.png) no-repeat 0 -34px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 20px;
	}
#BUI_deconButton:active {
	background-position: 0 0;
	color: #000000;
	}
#BUI_bldgSwitch {
	position: absolute;
	top: 2px;
	right: 2px;
	display: none;
	}
.bldButton {
	position: absolute;
	display: inline-block;
	height: 41px;
	width: 120px;
	background: url(../AIFrames/buttons/build.png) no-repeat 0 -41px;
	cursor: pointer;
`	}
.bldButton:hover {
	background-position: 0 0;
	}
.bldButton:active {
	background-position: 0 -82px;
	}
#BUI_bldPplButton {
	position: absolute;
	top: 8px;
	left: 610px;
	font-size: 26px;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	}
#BUI_bldPplButton .darkFrameBody {
	height: 12px;
	padding: 0 5px 5px;
	}
#BUI_bldPplButton .darkFrameB {
	margin: 0px;
	}
#BUI_bldPplButton[class=""]:active .darkFrameBody {
	background: url("../AIFrames/Content Frame Elements/Light-body.png");
	color: #000000;
	}
#BUI_bldPplButton[class=""]:active .darkFrameB {
	background-image: url("../AIFrames/Content Frame Elements/Light-BottomTile.png");
	}
.noBld, .noUp, .noDe  {
	filter:alpha(opacity=50);
	opacity:0.5;
	cursor: default !important;
	}
.noUp {
	background-position: 0 0 !important;
	color: #000000 !important;
	}
.noDe {
	background-position: 0 -34px !important;
	color: #FFFFFF !important;
	}
.useBP, .bpResearch {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 32px;
	background: url(../AIFrames/buttons/BP.png) no-repeat 0 0;
	cursor: pointer;
	}
.notBH .useBP, .notBH .bpResearch {
	display: none;
	}