/* *********************************************************************
 * Bunker CSS
***********************************************************************/
#Bnkr_curModeEffect {
	position: relative;
	top: 5px;
	left: 5px;
	display: block;
}
#Bnkr_modeSelect {
	position: relative;
	top: 5px;
	left: 5px;
	}
a#Bnkr_assign {
	position: relative;
	top: 12px;
	left: 15px;
	display: inline-block;
	height: 49px;
	width: 93px;
	background: url(../AIFrames/buttons/Assign-CS.png) no-repeat 0 -49px;
	}
a:hover#Bnkr_assign {
	background-position: 0 -98px;
	}
a:active#Bnkr_assign {
	background-position: 0 0;
	}
#Bnkr_modeEffect {
	position: relative;
	top: 10px;
	left: 5px;
	display: block;
}
/* *********************************************************************
 * Resource Cache CSS
***********************************************************************/
#ResC_protectedAmnts {
	margin: 40px 160px;
	}
#ResC_protectedAmnts > div {
	border: 1px solid white;
	width: 408px;
	padding: 5px;
	margin: 5px 0;
	}
.ResCResAmounts {
	float: right;
	font-size: 19px;
	}