/* *********************************************************************
 * Communication Center CSS
***********************************************************************/
#CC_tabs {
	position: relative;
	top: -15px;
	height: 30px;
	width: 100%;
	}
#CC_tabs a {
	position: absolute;
	top: 0px;
	display: block;
	height: 41px;
	width: 159px;
	z-index: 1;
	background-position: 0 -41px;
	background-repeat: no-repeat;
	}
#CC_overviewTab {
	left: 5px;
	background-image: url(../AIFrames/buttons/Overview-League.png);
	}
#CC_leagueTab {
	display: none;
	}
#CC_supportTab {
	left: 164px;
	background-image: url(../AIFrames/buttons/Support-League.png);
	}
#CC_overviewTab:hover, #CC_supportTab:hover {
	background-position: 0 0;
	}
	/* add psudo and true active classes*/
#CC_window {
	position: relative;
	left: 5px;
	}