/*
 * Client Display CSS
 * 
 * Writen by: Chris Hall
*/
/************************************************************************************************************************************************
 * Misc Page CSS
************************************************************************************************************************************************/
@font-face {
	font-family: BankGothic;
	src: url(/BankGothic.eot);
	src: local("Bank Gothic"), local("BankGothic Lt BT"), local("BankGothicBTLight"), url(/BankGothic.ttf) format("truetype");
	}
body {
	background: #000 url(../SPFrames/rusted-metal.jpg) repeat 50% 0; 
	/*min-height: 800px;*/
	color: #FFF;
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", LucidaSans, "Lucida Grande", sans-serif;
	}
a:link, a:visited  {
	color: #FFFFFF;
	}
::-webkit-input-placeholder {
	color: rgba(165, 120, 98, 0.5);
	}
:-moz-placeholder {
	color: rgba(165, 120, 98, 0.5);
	}
ul, li {
	margin: 0;
	padding: 0;
	}
#preload {
	visibility: hidden;
	}
#header {
	position: relative;
	width: 100%;
	margin: 0 auto;
	z-index: 2;
	}
#header img {
	min-width: 1024px;
	width: 100%;
	}
#content {
	position: absolute;
	top: 1%;
	min-width: 763px;
	width: 100%;
	z-index: 1;
	}

#client {
	position: relative;
	width: 763px;
	height: 715px;
	background-color: #000;
	border: 3px ridge #A8A495;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0px auto;
	font-size: 14px;
	overflow: hidden;
	}
.fbButton {
	height: 17px;
	padding:5px 5px 0px 25px;
	border-bottom: 1px solid #1A356E;
	border-top: 1px solid #879AC0;
	background: #5F78AB url(http://static.ak.fbcdn.net/rsrc.php/zDYYQ/hash/deh9tyqv.png) no-repeat 0% -188px;
	color: #FFF;
	font: bold 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
	text-align: right;
	text-shadow: none;
	cursor: pointer;
	}
/************************************************************************************************************************************************
 * Client Viewer CSS
************************************************************************************************************************************************/
#clientview {
	position: absolute;
	top: 28px;
	height: 689px;
	width: 763px;
	overflow: hidden;
	background: url(../SPFrames/client-box.png) no-repeat center center;
	z-index: 3;
	}
#viewerback {
	position: absolute;
	top: 118px;
	left: 1px;
	height: 529px;
	width: 760px;
	overflow: hidden;
	background-position: right top;
	}
#window {
	position: absolute;
	top: 87px;
	left: 11px;
	display: none;
	height: 527px;
	width: 742px;
	color: #000;
	}
/*Tutorial Popup*/	
.tutorial {
	position: absolute;
	z-index: 1000;
	}
#tutorial_box {
	padding: 5px 80px 5px 5px;
	background: rgba(0,0,0,0.8);
	border: 1px solid #FFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	}
#tutorial_next {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 2px;
	border: 1px solid white;
	cursor: pointer;
	}
#tutorial_next:hover {
	border-style: outset;
	}
#tutorial_next:active {
	border-style: inset;
	}
.dirup, .dirleft, .dirdown, .dirright {
	height: 50px;
	width: 50px;
	background: url(../SPFrames/arrowSheet.png) no-repeat 0 0;
	}
.dirleft {
	background-position: -150px 0;
	}
.dirdown {
	background-position: -100px 0;
	}
.dirright {
	background-position: -50px 0;
	}
.longTextInput {
	color: #A57862;
	height: 29px;
	width: 195px;
	padding-left: 5px;
	border: none;
	outline: none;
	background: url(../../IndexFrames/text-window.png) no-repeat left top;
	font: 9pt "Lucida Sans Unicode", LucidaSans, "Lucida Grande", sans-serif;
	}
.textInput {
	color: #A57862;
	height: 29px;
	width: 101px;
	padding-left: 5px;
	border: none;
	outline: none;
	background: url(../SPFrames/text-window.png) no-repeat left top;
	font: 9pt "Lucida Sans Unicode", LucidaSans, "Lucida Grande", sans-serif;
	}
.textTab {
	height: 36px;
	padding-top: 6px;
	background: url(../SPFrames/tab-divider.png) no-repeat right center;
	color: #282415;
	font: bold 18px "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(240, 225, 163, 0.7);
	text-align: center;
	cursor: pointer;
	}
.textTab.last {
	background: none;
	}
.textTab:hover, .textTab:active, .textTab.open {
	background: url(../SPFrames/tab-divider.png) no-repeat right center, url(../SPFrames/open-tab.png) no-repeat center bottom;
	}
.textTab.last:hover, .textTab.last:active, .textTab.last.open {
	background: url(../SPFrames/open-tab.png) no-repeat center bottom;
	}
.textTab:active, .textTab.open {
	color: #d7ca9b;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8), 0 -1px rgba(255,255,255,0.3);
	}
.bigButton {
	height: 37px;
	width: 164px;
	padding-top: 10px;
	background: url(../SPFrames/button-template.png) no-repeat 0 0;
	color: #A9A098;
	font: bold 1em "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8), 0 -1px 0 rgba(255, 255, 255, 0.3);
	text-align: center;
	cursor: pointer;
	}
.bigButton:hover {
	background-position: -164px 0;
	}
.bigButton:active, .bigButton.disabled, .bigButton.noTrade, .bigButton.noTraders {
	background-position: -327px 0;
	height: 35px;
	padding-top: 12px;
	}
.bigButton.disabled, .bigButton.noTrade, .bigButton.noTraders {
	cursor: default;
	}
.smallButton {
	height: 38px;
	width: 99px;
	padding-top: 10px;
	background: url(../SPFrames/medium-button-template.png) no-repeat 0 0;
	color: #A9A098;
	font: bold 1em "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8), 0 -1px 0 rgba(255, 255, 255, 0.3);
	text-align: center;
	cursor: pointer;
	}
.smallButton:hover {
	background-position: -98px 0;
	}
.smallButton:active {
	height: 36px;
	padding-top: 12px;
	background-position: -196px 0;
	}
/************************************************************************************************************************************************
 * Login & Register Popup CSS
************************************************************************************************************************************************/
#regBox, #signInBox, #forgotPassBox {
	width: 350px;
	padding: 5px;
	background: #222 url(../SPFrames/rusted-metal.jpg);
	border: 3px solid #A8A495;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8);
	box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8);
	color: #A9A098;
	font: 11pt "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8), 0 -1px 0 rgba(255,255,255,0.3);
	}
#regBox, #signInBox {
	position: relative;
	margin: 0 auto;
	z-index: 1001;
	}
#signIn_UN, #signIn_pass, #forgot_UN, #forgot_email, #reg_UN, #reg_pass, #reg_passConf, #reg_email, #reg_emailConf  {
	color: #A57862;
	height: 29px;
	width: 195px;
	padding-left: 5px;
	border: none;
	outline: none;
	background: url(../../IndexFrames/text-window.png) no-repeat left top;
	font: 9pt "Lucida Sans Unicode", LucidaSans, "Lucida Grande", sans-serif;
	}
#reg_error, #forgot_error {
	position: absolute;
	top: 35px;
	right: 5px;
	max-height: 120px;
	max-width: 135px;
	padding: 0 5px;
	color: #F00;
	background-color: rgba(0, 0, 0, 0.5);
	border: 0px solid transparent;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
	}
#reg {
	height: 130px;
	}
#reg_picktile, #reg_wait {
	display: none;
	}
#reg label, #signIn label {
	display: block;
	}
#reg span {
	font-size: 12px;
	}
#reg_fbConnect, #signIn_fbLogin {
	width: 120px;
	margin: 10px auto 20px;
	}
#reg_submit, #forgot_submit, #tileSelect_submit, #signIn_submit {
	float: right;
	cursor: pointer;
	}
#reg_forumBox label {
	display: inline;
	}
/*Map Tile selection code*/
#tileSelector {
	position: relative;
	height: 144px;
	width: 160px;
	padding-top: 1px;
	margin: 0 auto;
	}
/************************************************************************************************************************************************
 * Console Output & Chatbox CSS & Sidetab CSS
************************************************************************************************************************************************/
a#fdbk_tab, .sideButton {
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
	position: fixed;
	height: 86px;
	width: 42px;
	margin-left: -7px;
	text-indent: -1000000px;
	overflow: hidden;
	z-index: 100001;
	}
#chatbox_tab {
	top:67px;
	left: 0;
	background: #222 url(../SPFrames/chatbox-sidetab.png) no-repeat top left;
	}
#twitter_tab {
	top:249px;
	left: 0;
	background: #222 url(../SPFrames/twitter-sidetab.png) no-repeat top left;
	}
#forum_tab {
	top:332px;
	left: 0;
	background: #222 url(../SPFrames/forum-sidetab.png) no-repeat top left;
	}
#blog_tab {
	top:415px;
	left: 0;
	background: #222 url(../SPFrames/blog-sidetab.png) no-repeat top left;
	}
a#fdbk_tab {
	top: 150px !important;
	}
a#fdbk_tab:hover, .sideButton:hover {
	z-index:100002
	}
.sideButton:hover {
	margin-left: -4px;
	}
#console_box {
	position: absolute;
	right: 0px;
	top: 182px;
	display: none;
	background: #222 url(../SPFrames/rusted-metal.jpg);
	border: 3px solid #A8A495;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	z-index: 1000;
	}
#chat_box, #twitter_box, #forum_box, #blog_box {
	position: fixed;
	left: 0;
	background: #222 url(../SPFrames/rusted-metal.jpg);
	border: 3px solid #A8A495;
	-webkit-border-radius: 0 20px 20px 0;
	-moz-border-radius: 0 20px 20px 0;
	border-radius: 0 20px 20px 0;
	z-index: 100003;
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
	}
#chat_box, #twitter_box {
	top: 67px;
	padding: 5px;
	margin-left: -320px;
	}
#chat_box.open, #twitter_box.open {
	margin-left: -4px;
	}
#forum_box, #blog_box {
	top: 0;
	margin-left: -100%;
	height: 99%;
	width: 99%;
	}
#forum_box.open, #blog_box.open {
	margin-left: 0;
	}
#forum_frame, #blog_frame {
	position: relative;
	top: 46px;
	left: 10px;
	width: 98%;
	height: 91%;
	}
#console_titlebar, #chat_titlebar {
	width: 100%;
	padding-top: 10px;
	height: 40px;
	background: url(/client/SPFrames/Buildings/UI/BCM/divider.png) no-repeat center bottom;
	color: #A9A098;
	font: bold 16pt "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px rgba(0,0,0,0.8);
	text-align: center;
	cursor: default;
	}
#console_titlebar, #console_titlebar:active {
	font-size: 13pt;
	cursor: move;
	}
#console_titlebar span {
	position: relative;
	right: 20px;
	}
.closeButton {
	position: absolute;
	right: 0px;
	top: 3px;
	display: block;
	height: 47px;
	width: 43px;
	background: url(../SPFrames/close-button.png) no-repeat 0 0;
	cursor: pointer;
	z-index: 10;
	}
.closeButton:hover {
	background-position: -43px 0;
	}
.closeButton:active {
	background-position: -86px 0;
	}
#console_output {
	color: #FFFFFF;
	width: 200px;
	height: 148px;
	background-color: rgba(0,0,0,0.8);
	border: 3px inset #A8A495;
	margin: 5px;
	font-size: 14px;
	overflow: auto;
	}
.output {
	display: inline-block;
	width: 100%;
	padding-bottom: 2px;
	border-top: 1px solid #FFFFFF;
	white-space: pre-wrap;
	}
.error {
	color: #FF0000;
	}
#output_clear {
	position: absolute;
	bottom: 22px;
	right: 27px;
	display: block;
	height: 20px;
	width: 20px;
	background: url(../../images/client/menus/Clear-button.png) no-repeat 0 0;
	}
#output_clear:active{
	background-position: -20px 0;
	}
#console_stopBox, #console_expandBox {
	position: relative;
	bottom: 0px;
	left: 25px;
	}
#console_stopBox {
	bottom: 5px;
	}
/************************************************************************************************************************************************
 * Custom Popup CSS
************************************************************************************************************************************************/
#AIW_alertBox {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	}
#AIW_alertMod {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000000;
	filter:alpha(opacity=50);
	opacity: .50;
	z-index: 1000005;
	}
#AIW_alert {
	position: absolute;
	top: 50%;
	left: 50%;
	display:none;
	max-width: 500px;
	margin: -75px -200px;
	-webkit-box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8), 0px 2px 10px rgba(0,0,0,0.8);
	box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8), 0px 2px 10px rgba(0,0,0,0.8);
	z-index: 1000006;
	}
#AIW_alertTitlebar {
	margin-left: 5px;
	border-bottom: 2px groove #A8A495;
	cursor: move;
	font-size: 24px;
	font-weight: bold;
	}
#AIW_alertMess {
	min-height: 75px;
	min-width: 300px;
	margin: 0 0 5px;
	padding: 5px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	}
.alertButton {
	float: right;
	}
/************************************************************************************************************************************************
 * Text Frame CSS
************************************************************************************************************************************************/
/*
 * White Frame
 */
.textFramed {
	padding: 5px 5px 1px;
	border: 1px solid #FFF;
	}
/*
 * Black Frame
 */
.blackFramed {
	padding: 5px 5px 1px;
	border: 1px solid #000;
	}
	
.metalFrame {
	padding: 5px;
	background: #222 url(../SPFrames/rusted-metal.jpg);
	border: 3px solid #A8A495;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8),  0px 2px 10px rgba(0,0,0,0.8);
	box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8),  0px 2px 10px rgba(0,0,0,0.8);
	color: #A9A098;
	font: 1em "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8), 0 -1px 0 rgba(255,255,255,0.3);
	}

.darkFrame {
	padding: 10px;
	background: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	}
/************************************************************************************************************************************************
 * jScrollPane CSS
************************************************************************************************************************************************/
.jspContainer {
	overflow: hidden;
	position: relative;
}
.jspPane {
	position: absolute;
}
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
}
.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15px;
	background: transparent;
}
.jspVerticalBar *,
.jspHorizontalBar * {
	margin: 0;
	padding: 0;
}
.jspCap {
	display: none;
}
.jspHorizontalBar .jspCap {
	float: left;
}
.jspTrack {
	background: transparent;
	position: relative;
}
.jspVerticalBar .jspTrack {
	background: url(../SPFrames/vert-scrollbar-top.png) no-repeat center top, url(../SPFrames/vert-scrollbar-bottom.png) no-repeat center bottom, url(../SPFrames/vert-scrollbar-center.png) repeat-y center top;
}
.jspHorizontalBar .jspTrack {
	background: url(../SPFrames/horz-scrollbar-right.png) no-repeat right center, url(../SPFrames/horz-scrollbar-left.png) no-repeat left center, url(../SPFrames/horz-scrollbar-center.png) repeat-y left center;
}
.jspDrag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.jspVerticalBar .jspDrag {
	width: 11px;
	margin-left: 3px;
	background: url(../SPFrames/vert-scroller.png) no-repeat center center;
	}
.jspHorizontalBar .jspDrag {
	height: 12px;
	background: url(../SPFrames/horz-scroller.png) no-repeat center center;
	}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 9px;
	margin-top: 1px;
}

.jspArrow {
	background: transparent;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled{
	cursor: default;
}
.jspVerticalBar .jspArrow {
	height: 16px;
}
.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus {
	outline: none;
}
.jspCorner {
	float: left;
	height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}