/* *********************************************************************
 * Construction Yard CSS
***********************************************************************/
#CY_info {
	position: absolute;
	top: 5px;
	left: 130px;
	}
#CY_info .lightFrameBody {
	width: 500px;
	}
#CY_townID {
	float: right;
	font-size: 20px;
	}
#CY_buildingInfo {
	width: 315px;
	}
#CY_buildingInfoHeader {
	border-bottom: 1px solid #000;
	font-size: 16px;
	}
.buildingInfo {
	list-style: none;
	border-bottom: 1px solid #AAA;
	}
.buildingInfo span {
	float: right;
	}
.bldgTicksToFinish, .bldgName, .cancelButton {
	display: inline;
	margin: 0px 5px;
	}
.bldgID, .bldgListID {
	display: none;
	}
.bldgTicksToFinish {
	position: relative;
	top: 10px;
	float: right;
	}
.cancelButton a {
	position: relative;
	top: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../../images/client/buildings/Cancel-button.png") no-repeat 0 0;
	}
.cancelButton a:active{
	background: url("../../images/client/buildings/Cancel-button.png") no-repeat 0 -20px;
	}
.noCancel a {
	background: transparent !important;
	cursor: default;
	}
#CY_instaBuild {
	top: 10px;
	right: 375px;
	background-color: #000000;
	z-index: 1;
	}
#CY_ultraBuild {
	top: -180px;
	left: 180px;
	}