#Fort_AUlist, #Fort_protectedAU {
	position: absolute;
	height: 500px;
	width: 300px;
	padding: 5px;
	background: #222 url(../SPFrames/rusted-metal.jpg);
	border: 3px solid #A8A495;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8);
	box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8);
	color: #A9A098;
	font: 11pt "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8), 0 -1px 0 rgba(255, 255, 255, 0.3);
	}
}

#Fort_protectAU {
	position: aboslute;
	bottom: 0px;
	right: 0px;
}