#Fort_AUlist, #Fort_protectedAU {
	position: absolute;
	top: 10px;
	height: 380px;
	width: 300px;
	}
#Fort_AUlist {
	left: 10px;
	}
#Fort_protectedAU {
	right: 10px;
	padding: 5px 10px;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	}
#Fort_protectAU {
	position: absolute;
	bottom: 0px;
	right: 0px;
	}
#Fort_availableSlots {
	position: absolute;
	bottom: 5px;
	right: 5px;
	}
.Fort_AU {
	display: inline-block;
	width: 50%;
	height: 110px;
	text-align: center;
	}
.Fort_AUpic {
	float: left;
	}
.Fort_AUinput {
	width: 40px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid white;
	outline: none;
	color: white;
	text-align: center;
	}