/* *********************************************************************
 * Headquarters building CSS
***********************************************************************/
.flexbox #HQ_tabBar {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: start;
	-webkit-box-align: start;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: start;
	-moz-box-align: start;
	
	display: box;
	box-orient: horizontal;
	box-pack: start;
	box-align: start;
	}
.no-flexbox #HQ_tabBar {
	height: 40px;
	}
#HQ_tabBar > div {
	position: relative;
	left: 10px;
	text-align: center;
	font-size: 1.2em;
	font-family: Verdana, Tahoma, sans-sarif;
	cursor: pointer;
	}
#HQ_tabBar > div .lightFrameBody {
	height: 10px;
	padding: 5px 10px;
	}
.no-flexbox #HQ_tabBar > div {
	float: left;
	}
#HQ_control {
	display: none;
	}
 #HQ_tabBar > div.open .lightFrameBody, #HQ_launchAttack[class='']:active .lightFrameBody {
	background: url("../AIFrames/Content Frame Elements/Dark-body.png");
	color: #FFFFFF;
	}
 #HQ_tabBar > div.open .lightFrameB, #HQ_launchAttack[class='']:active .lightFrameB {
	background-image: url("../AIFrames/Content Frame Elements/Dark-BottomTile.png");
	}
 #HQ_tabBar > div.open .lightFrameBL, #HQ_launchAttack[class='']:active .lightFrameBL {
	background-image: url("../AIFrames/Content Frame Elements/Dark-Left-Lowcorner.png");
	}
 #HQ_tabBar > div.open .lightFrameBR, #HQ_launchAttack[class='']:active .lightFrameBR {
	background-image: url("../AIFrames/Content Frame Elements/Dark-Right-Lowcorner.png");
	}
#HQ_tabBar > div .lightFrameBL > .lightFrameB {
	margin-right: 0px;
	}
#HQ_tabBar > div > .lightFrameBR > .lightFrameB {
	margin-left: 0px;
	}
#HQ_tabBar > div > .lightFrameB {
	margin: 0;
	}
#HQ_AUinput, .supportAU, .troop {
	text-align: center;
	}
#HQ_supportAUbox, #HQ_civilianAUbox {
	position: absolute;
	top: 150px;
	right: 5px;
	color: #FFF;
	}
#HQ_civilianAUbox {
	display: none;
	}
#HQ_supportAU {
	height: 225px;
	width: 390px;
	overflow: auto;
	}
#HQ_civilianAU {
	height: 60px;
	width: 390px;
	}
#HQ_AUinput {
	margin: 5px;
	color: #FFF;
	}
#HQ_AUinput .darkFrameBody {
	height: 60px;
	}
#HQ_AUinput .darkFrameBody > div, .supportAU, .troop {
	width: 120px;
	height: 70px;
	padding: 3px;
	float: left;
	}
#HQ_civAU {
	margin: 0 auto;
	float: none;
	}
.AUinput, #HQ_civInput {
	margin: 0px;
	width: 40px;
	}
#HQ_AUinput img, .supportAUpic, .auPic {
	float: left;
	}
#HQ_AUinput a, .supportAU a, #HQ_civNumber{
	display: block;
	color: #CCCCCC;
	}
.flexbox #HQ_tacOverview {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: start;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: start;
	
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: start;
	}
.no-flexbox #HQ_tacOverview {
	height: 85px;
	width: 370px;
	margin: 0 auto;
	}
.no-flexbox #HQ_tacOverview > div {
	float: left;
	}
#HQ_SAS {
	position: absolute;
	top: 150px;
	left: 207px;
	text-align: center;
	}
#HQ_CSinfo {
	display: inline;
	text-align: center;
	}
#HQ_CSinfo .textFramed {
	height: 55px;
	}
#HQ_civWeaponSelect {
	position: relative;
	top:20px;
}
#HQ_civWeapon {
	display: none;
	width: 218px;
	margin-left: 5px;
	}
#HQ_civWeapon .textFramed {
	height: 55px;
	}
#HQ_save {
	display: block;
	position:relative;
	height: 41px;
	width: 86px;
	top: -43px;
	left: 124px;
	margin-bottom: -10px;
	background: url(../AIFrames/buttons/Save-League.png) no-repeat 0 -41px;
	}
#HQ_save:hover {
	background-position: 0 0;
	}
#HQ_save:active {
	background-position: 0 -82px;
	}
#HQ_killMe {
	position: absolute;
	top: 75px;
	right: 25px;
	height: 35px;
	width: 97px;
	background: url(../AIFrames/buttons/Kill.png) no-repeat 0 -35px;
	}
#HQ_killMe:hover {
	background-position: 0 0;
	}
#HQ_killMe:active {
	background-position: 0 -70px;
	}
#HQ_targetSelect input{
	width: 35px;
	border-color: #000 !important;
	color: #000 !important;
	}
#HQ_missionSelectList {
	position: absolute;
	top: 140px;
	left: 5px;
	width: 196px;
	color: black;
	}
#HQ_missionSelectList .lightFrameBody {
	height: 125px;
	}
.missionSelect {
	float: left;
	min-width: 93px;
	}
#HQ_bombingTarget, #HQ_supportType {
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: none;
	}
#HQ_targetSelect {
	position: absolute;
	top: 300px;
	left: 5px;
	}
#HQ_isValid {
	position: absolute;
	top: 10px;
	left: 250px;
	color: red;
	}
#HQ_launchAttack {
	position: absolute;
	top: 315px;
	left: 120px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	}
#HQ_launchAttack .lightFrameBody {
	height: 10px;
	padding: 5px 10px;
	}
.noAttack, .noMove {
	filter:alpha(opacity=50);
	opacity: 0.5;
	cursor: default;
	}
#HQ_missionDescBox {
	position: absolute;
	top: 205px;
	left: 201px;
	}
#HQ_missionDesc {
	height: 75px;
	width: 160px;
	border-top: 1px solid #FFF;
	overflow: auto;
	}
#HQ_ferocity {
	top: 0px;
	left: 470px;
	}
#HQ_airshipControl {
	position: absolute;
	top: 140px;
	left: 150px;
	}
#HQ_moveError {
	color: red;
	}
#HQ_moveTo {
	margin-top: 10px;
	}
#HQ_moveX, #HQ_moveY {
	width: 50px;
	margin-left: 5px;
	text-align: right;
	}
#HQ_moveAirship {
	width: 70px;
	margin-top: 20px;
	float: right;
	text-align: center;
	}
#HQ_airshipInfo {
	position: absolute;
	top: 150px;
	right: 150px;
	}
#HQ_scrollBox {
	height: 360px;
	width: 776px;
	margin-left: 5px;
	overflow: auto;
	}
#HQ_missionList > div {
	margin: 10px 0;
	}
#HQ_troops, .aSupportRow, .fSupportRow {
	position: relative;
	height: 100px;
	padding: 0px;
	text-align: center;
	color: #FFF;
	}
.aSupportRow, .fSupportRow {
	height: 80px;
	text-align: left;
	}
.supportAUbox {
	padding-left: 10px;
	text-align: center;
	}
.sendHome, .callHome {
	color: #AAAAAA !important;
	float: right;
	}
.incoming {
	padding-top: 15px;
	}
.mission {
	position: relative;
	padding: 15px 0 0;
	color: #FFF;
	}
.recallRaid {
	position: relative;
	top: 5px;
	left: 5px;
	display: inline-block;
	color: #CCC;
	text-decoration: underline;
	cursor: pointer;
	}
.raidInfo {
	position: absolute;
	top: 5px;
	right: 5px;
	}