/* *********************************************************************
 * Institute CSS
***********************************************************************/
#IN_research {
	height: 300px;
	margin: 0 8px;
	}
#IN_numKnowledge, #IN_ppd {
	position: relative;
	top: -25px;
	right: 50px;
	font-size: 12px;
	}
#IN_numKnowledge span {
	font-size: 16px;
	}
.flexbox #IN_reTab {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-box-align: start;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: justify;
	-moz-box-align: start;
	
	display: box;
	box-orient: horizontal;
	box-pack: justify;
	box-align: start;
	
	width: 100%;
	}
.no-flexbox #IN_reTab {
	height: 40px;
	}
#IN_reTab {
	margin-bottom: -20px;
	}
#IN_researchList {
	position: relative;
	display: inline-block;
	width: 755px;
	margin: 5px;
	font-size: 15px;
	font-variant: small-caps;
	}
#IN_rankImage {
	height: 150px;
	width: 150px;
	float: left;
	}
.researchTree {
	position: absolute;
	top: 10px;
	width: 715px;
	height: 225px;
	overflow: auto;
	}
.name, .researchTree {
	display: none;
	}
.expand {
	height: 55px;
	}
.no-flexbox .expand {
	position: relative;
	left: 100px;
	display: inline-block;
	float: left;
	}
.flexbox .expand {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	}

.researches > div {
	height: 20px;
	width: 100%;
	margin-top: 5px;
	padding: 1px 0px 1px 5px;
	}
.research {
	width: 150px;
	height: 20px;
	padding-top: 2px;
	margin-top: -4px;
	text-align: center;
	text-decoration: none;
	float: right;
	cursor: pointer;
	}
.research.noBuy {
	color: #F59657;
	text-decoration: none;
	cursor: default;
	}
.resWhite, .resBlack {
	background: rgba(29, 22, 19, 0.3);
	color: #DCCDAF;
	}
.bpResearch  {
	margin-right: 5px;
	float: right;
	}
.level {
	display: inline-block;
	width: 80px;
	}
.points {
	display: inline-block;
	width: 80px;
	margin-left: 10px;
	text-align: right;
	}
.reshelp {
	position: relative;
	top: 3px;
	display: inline-block;
	height: 15px;
	width: 15px;
	background: url(../SPFrames/Buildings/UI/IN/help-button-inline.png) no-repeat center;
	margin-right: 5px;
	cursor: help;
	}
.fullName {
	display: inline-block;
	width: 206px;
	}
.helpStat {
	height: 20px;
	min-width: 70px;
	border: 1px solid #FFFFFF;
	text-align: right;
	float: left;
	}
.helpStat img {
	margin: 1px;
	float: left;
	}