/* *********************************************************************
 * Institute CSS
***********************************************************************/
#IN_research {
	height: 300px;
	margin: 0 8px;
	}
#IN_numKnowledge, #IN_ppd {
	position: absolute;
	top: -35px;
	font-size: 16px;
	color: #FFF;
	}
#IN_numKnowledge span {
	font-size: 20px;
	color: #FFA500;
	}
#IN_ppd {
	left: 300px;
	font-size: 14px;
	}
.flexbox #IN_reTab {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-box-align: start;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: justify;
	-moz-box-align: start;
	
	display: box;
	box-orient: horizontal;
	box-pack: justify;
	box-align: start;
	
	width: 100%;
	}
.no-flexbox #IN_reTab {
	height: 40px;
	}
#IN_researchList {
	display: inline-block;
	width: 755px;
	margin: 5px;
	}
#IN_researchList .textFramed {
	position: relative;
	height: 205px;
	margin-bottom: -5px;
	}
#IN_rankImage {
	height: 150px;
	width: 150px;
	float: left;
	}
.researchTree {
	position: absolute;
	width: 745px;
	height: 210px;
	overflow: auto;
	}
.name, .researchTree {
	display: none;
	}
.expand {
	text-align: center;
	font-size: 1.2em;
	font-family: Verdana, Tahoma, sans-sarif;
	cursor: pointer;
	}
.no-flexbox .expand {
	position: relative;
	left: 100px;
	display: inline-block;
	float: left;
	}
.flexbox .expand {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	}
.expand .lightFrameBody {
	height: 30px;
	}
.expand:active .lightFrameBody, .expand.open .lightFrameBody {
	background: url("../AIFrames/Content Frame Elements/Dark-body.png");
	color: #FFFFFF;
	}
.expand:active .lightFrameB, .expand.open .lightFrameB {
	background-image: url("../AIFrames/Content Frame Elements/Dark-BottomTile.png");
	}
.expand:active .lightFrameBL, .expand.open .lightFrameBL {
	background-image: url("../AIFrames/Content Frame Elements/Dark-Left-Lowcorner.png");
	}
.expand:active .lightFrameBR, .expand.open .lightFrameBR {
	background-image: url("../AIFrames/Content Frame Elements/Dark-Right-Lowcorner.png");
	}

.expand .lightFrameBL > .lightFrameB {
	margin-right: 0px;
	}
.expand  > .lightFrameB {
	margin: 0px;
	}
.expand > .lightFrameBR > .lightFrameB {
	margin-left: 0px;
	}

.researches > div {
	height: 20px;
	width: 700px;
	margin-top: 5px;
	padding: 5px 0px 0 20px;
	}
.research {
	width: 150px;
	height: 20px;
	padding-top: 2px;
	margin-top: -4px;
	background: url(../AIFrames/buttons/purchasebutton.png) no-repeat 0 0;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	float: right;
	cursor: pointer;
	}
.research:hover {
	background-position: 0 -22px;
	}
.research.noBuy {
	background-position: 0 0;
	filter:alpha(opacity=50);
	opacity: 0.5;
	cursor: default;
	}
.resWhite {
	background: url("../AIFrames/Content Frame Elements/researchBack-white.png") no-repeat 0 0;
	}
.resBlack {
	background: url("../AIFrames/Content Frame Elements/researchBack-black.png") no-repeat 0 0;
	color: #FFF;
	}
.bpResearch  {
	margin-right: 5px;
	float: right;
	bottom: 5px;
	}
.level {
	display: inline-block;
	width: 80px;
	}
.points {
	display: inline-block;
	width: 80px;
	margin-left: 10px;
	text-align: right;
	}
.info {
	position: relative;
	top: 8px;
	margin-top: -15px;
	}
.fullName {
	display: inline-block;
	width: 206px;
	}
.helpInsig {
	height:40px;
	width:40px;
	float:left;
	}
.helpStat {
	height: 20px;
	min-width: 70px;
	border: 1px solid #FFFFFF;
	text-align: right;
	float: left;
	}
.helpStat img {
	margin: 1px;
	float: left;
	}