#League_outerbox {
	padding: 5px;
	color: #FFF;
	}
#League_outerbox .darkFrameBody {
	height: 490px;
	}	
#CC_createLeagueBox {
	position: relative;
	display: inline-block;
	left: 200px;
	padding: 10px;
	}
#CC_noCreate, #CC_noCreateBlock {
	height: 100%;
	width: 100%;
	}
#CC_noCreate {
	position: absolute;
	top: 0px;
	left:0px;
	}
#CC_noCreateBlock .darkFrameBody {
	height: 200px;
	}
#CC_noCreateText {
	position: absolute;
	top: 75px;
	left: 10px;
	}
#CC_createLeagueName {
	width: 218px;
	}
#CC_createLeagueInitials {
	width: 60px;
	margin-left: 5px;
	}
#CC_createLeagueDesc {
	display: block;
	height: 100px;
	width: 324px;
	color: #FFFFFF;
	background-color: transparent;
	border: 2px solid #FFFFFF;
	}
#CC_createLeagueSite {
	width: 218px;
	}
#CC_createLeagueButton { /*Still need button*/
	display: block;
	width: 100px;
	height: 25px;
	background: url(../../images/client/menus/create-button.png) no-repeat 0 0;
	}
#CC_createLeagueButton:hover {
	background-position: -100px 0;
	}
#CC_createLeagueButton:active {
	background-position: -200px 0;
	}
#CC_leagueRoster { 
	display: inline-block;
	float: left;
	font-size: 15px;
	}
#CC_leagueRoster dl {
	height: 430px;
	width: 200px;
	overflow: auto;
	}
#CC_playerInfo {
	position: absolute;
	bottom: 5px;
	right: 50px;
	width: 200px;
	}
#CC_playerInfo h3 {
	margin: 5px;
	}
#CC_playerRank, #CC_playerTax {
	display: block;
	text-align: right;
	}
#CC_info {
	position: relative;
	display: inline-block;
	height: 350px;
	width: 440px;
	padding-left: 5px;
	}
#CC_leagueAdmin {
	position: absolute;
	top: 5px;
	right: 5px;
	display: block;
	width: 159px;
	height: 41px;
	background: url(../AIFrames/buttons/Admin-League.png) no-repeat 0 -41px;
	}
#CC_leagueAdmin:hover {
	background-position: 0 0;
	}
#CC_leagueAdmin:active {
	background-position: 0 -82px;
	}
#CC_leagueInfoTag {
	display: block;
	text-align: right;
	}
#CC_leagueDesc .textFramed {
	height: 80px;
	overflow: auto;
	}
#CC_switchLeague, #CC_switchPlayer {
	position: relative;
	float: right;
	display: block;
	height: 41px;
	width: 159px;
	background: url(../AIFrames/buttons/switch-League.png) no-repeat 0 -41px;
	}
#CC_switchLeague:hover, #CC_switchPlayer:hover {
	background-position: 0 0;
	}
#CC_switchLeague:active, #CC_switchPlayer:active {
	background-position: 0 -82px;
	}
#CC_leaveLeague {
	position: relative;
	float: right;
	display: block;
	height: 41px;
	width: 159px;
	background: url(../AIFrames/buttons/Leave-League.png) no-repeat 0 -41px;
	}
#CC_leaveLeague:hover {
	background-position: 0 0;
	}
#CC_leaveLeague:active {
	background-position: 0 -82px;
	}
#CC_memberAdmin {
	border: 2px solid #FFFFFF;
	display: inline-block;
	left: 50px;
	padding: 5px;
	position: relative;
	top: 45px;
	}
#CC_memberTownAdmin {
	position: absolute;
	top: 100px;
	left: 5px;
	height: 40px;
	}
#CC_kickMember, #CC_saveInfo {
	display: block;
	height: 41px;
	float: right;
	background: no-repeat 0 -41px;
	}
#CC_kickMember {
	clear: right;
	width: 81px;
	background-image: url(../AIFrames/buttons/Kick-League.png);
	}
#CC_saveInfo {
	width: 86px;
	background-image: url(../AIFrames/buttons/Save-League.png);
	}
#CC_kickMember:hover, #CC_saveInfo:hover{
	background-position: 0 0px;
	}
#CC_kickMember:active, #CC_saveInfo:active{
	background-position: 0 -82px;
	}
#CC_invitePlayer {
	border: 2px solid #FFFFFF;
	display: inline-block;
	left: 440px;
	padding: 5px;
	position: absolute;
	top: 55px;
	}
#CC_inviteMessage {
	height: 100px;
	width: 200px;
	color: #FFFFFF;
	background-color: transparent;
	border: 2px solid #FFFFFF;
	}
#CC_sendInvite { /*Need button*/
	display: block;
	width: 100px;
	height: 25px;
	float: right;
	background: url(../../images/client/menus/send_message-button.png) no-repeat 0 0;
	}
#CC_sendInvite :hover {
	background-position: -100px 0;
	}
#CC_sendInvite :active {
	background-position: -200px 0;
	}