#League_outerbox {
	padding: 5px;
	color: #FFF;
	}
#League_outerbox .darkFrameBody {
	height: 490px;
	}	
#League_createLeagueBox {
	position: relative;
	display: inline-block;
	left: 200px;
	padding: 10px;
	}
#League_noCreate, #League_noCreateBlock {
	height: 100%;
	width: 100%;
	}
#League_noCreate {
	position: absolute;
	top: 0px;
	left:0px;
	}
#League_noCreateBlock .darkFrameBody {
	height: 200px;
	}
#League_noCreateText {
	position: absolute;
	top: 75px;
	left: 10px;
	}
#League_createLeagueName {
	width: 218px;
	}
#League_createLeagueInitials {
	width: 60px;
	margin-left: 5px;
	}
#League_createLeagueDesc {
	display: block;
	height: 100px;
	width: 324px;
	color: #FFFFFF;
	background-color: transparent;
	border: 2px solid #FFFFFF;
	}
#League_createLeagueSite {
	width: 218px;
	}
#League_createLeagueButton { /*Still need button*/
	display: block;
	width: 100px;
	height: 25px;
	background: url(../../images/client/menus/create-button.png) no-repeat 0 0;
	}
#League_createLeagueButton:hover {
	background-position: -100px 0;
	}
#League_createLeagueButton:active {
	background-position: -200px 0;
	}
#League_leagueRoster { 
	display: inline-block;
	float: left;
	font-size: 15px;
	}
#League_leagueRoster dl {
	height: 430px;
	width: 200px;
	overflow: auto;
	}
#League_playerInfo {
	position: absolute;
	bottom: 5px;
	right: 50px;
	width: 200px;
	}
#League_playerInfo h3 {
	margin: 5px;
	}
#League_playerRank, #League_playerTax {
	display: block;
	text-align: right;
	}
#League_info {
	position: relative;
	display: inline-block;
	height: 350px;
	width: 440px;
	padding-left: 5px;
	}
#League_leagueAdmin {
	position: absolute;
	top: 5px;
	right: 5px;
	display: block;
	width: 159px;
	height: 41px;
	background: url(../AIFrames/buttons/Admin-League.png) no-repeat 0 -41px;
	}
#League_leagueAdmin:hover {
	background-position: 0 0;
	}
#League_leagueAdmin:active {
	background-position: 0 -82px;
	}
#League_leagueInfoTag {
	display: block;
	text-align: right;
	}
#League_leagueDesc .textFramed {
	height: 80px;
	overflow: auto;
	}
#League_switchLeague, #League_switchPlayer {
	position: relative;
	float: right;
	display: block;
	height: 41px;
	width: 159px;
	background: url(../AIFrames/buttons/switch-League.png) no-repeat 0 -41px;
	}
#League_switchLeague:hover, #League_switchPlayer:hover {
	background-position: 0 0;
	}
#League_switchLeague:active, #League_switchPlayer:active {
	background-position: 0 -82px;
	}
#League_leaveLeague {
	position: relative;
	float: right;
	display: block;
	height: 41px;
	width: 159px;
	background: url(../AIFrames/buttons/Leave-League.png) no-repeat 0 -41px;
	}
#League_leaveLeague:hover {
	background-position: 0 0;
	}
#League_leaveLeague:active {
	background-position: 0 -82px;
	}
#League_memberAdmin {
	display: inline-block;
	left: 50px;
	padding: 5px;
	position: relative;
	top: 45px;
	}
#League_memberAdmin .textFramed {
	height: 125px;
	}
#League_memberTownAdmin {
	position: absolute;
	top: 115px;
	left: 30px;
	height: 35px;
	}
#League_kickMember, #League_saveInfo {
	display: block;
	height: 41px;
	float: right;
	background: no-repeat 0 -41px;
	}
#League_kickMember {
	clear: right;
	width: 81px;
	background-image: url(../AIFrames/buttons/Kick-League.png);
	}
#League_saveInfo {
	width: 86px;
	background-image: url(../AIFrames/buttons/Save-League.png);
	}
#League_kickMember:hover, #League_saveInfo:hover{
	background-position: 0 0px;
	}
#League_kickMember:active, #League_saveInfo:active{
	background-position: 0 -82px;
	}
#League_invitePlayer {
	display: inline-block;
	left: 440px;
	padding: 5px;
	position: absolute;
	top: 55px;
	}
#League_inviteMessage {
	height: 100px;
	width: 200px;
	color: #FFFFFF;
	background-color: transparent;
	border: 2px solid #FFFFFF;
	}
#League_sendInvite { /*Need button*/
	display: block;
	width: 100px;
	height: 25px;
	float: right;
	background: url(../../images/client/menus/send_message-button.png) no-repeat 0 0;
	}
#League_sendInvite :hover {
	background-position: -100px 0;
	}
#League_sendInvite :active {
	background-position: -200px 0;
	}