/* *********************************************************************
 * Mine building CSS
***********************************************************************/
#Mine_productionBox {
	position: absolute;
	top: 50px;
	left: 150px;
	padding: 5px;
	border: 1px solid #000;
	}
#Mine_production {
	border-left: 1px solid #000;
	padding-left: 5px;
	color: #282415;
	font: bold 36px "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(240, 225, 163, 0.7);
	}
#Mine_production span {
	font-size: 18px;
	}
#Mine_resEffect {
	position: absolute;
	top: 120px;
	left: 150px;
	padding: 5px;
	border: 1px solid #000;
	color: #282415;
	font: bold 1em "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(240, 225, 163, 0.7);
	}
#Mine_resEffect span, #Mine_taxRate div, #Mine_foodCon div {
	display: block;
	text-align: center;
	font-size: 1.25em;
	}
#Mine_prodInc {
	position: absolute;
	top: 10px;
	right: 5px;
	}
#Mine_taxRate {
	position: absolute;
	top: 120px;
	left: 330px;
	display: none;
	padding: 5px;
	border: 1px solid #000;
	color: #282415;
	font: bold 1em "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(240, 225, 163, 0.7);
	}
#Mine_foodCon {
	position: absolute;
	top: 120px;
	left: 355px;
	border: 1px solid #000;
	padding: 5px;
	color: #282415;
	font: bold 1em "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(240, 225, 163, 0.7);
	}