#MS_overview, #MS_launchNuke {
	position: absolute;
	top: 50px;
	color: #FFF;
	font-size: 1.1em;
	}
#MS_overview {
	left: 150px;
	}
#MS_status  div, #MS_groundBurst div, #MS_skyBurst div, #MS_falloutDuration div {
	margin-left: 10px;
	}
#MS_status {
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #FFF;
	}
#MS_overview h2, #MS_launchNuke h2 {
	margin: 0 0 10px;
	}
#MS_status  div {
	font-size: 18px;
	}
#MS_launchNuke {
	right: 150px;
	}
#MS_fail {
	width: 200px;
	font-size: 14px;
	color: #F00;
	}
#MS_nukeMode {
	display: block;
	}
#MS_target {
	padding-bottom: 25px;
	text-align: center;
	}
#MS_x, #MS_y {
	width: 50px;
	}
#MS_launch {
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: #000;
	font-size: 18px;
	cursor: pointer;
	}
#MS_launch[class=""]:active .lightFrameBody {
	background: url("../AIFrames/Content Frame Elements/Dark-body.png");
	color: #FFFFFF;
	}
#MS_launch[class=""]:active .lightFrameB {
	background-image: url("../AIFrames/Content Frame Elements/Dark-BottomTile.png");
	}
#MS_launch[class=""]:active .lightFrameBL {
	background-image: url("../AIFrames/Content Frame Elements/Dark-Left-Lowcorner.png");
	}
#MS_launch[class=""]:active .lightFrameBR {
	background-image: url("../AIFrames/Content Frame Elements/Dark-Right-Lowcorner.png");
	}
#MS_launch.noLaunch {
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor: default;
	}