#RAI_scriptDisplay  {
	position: absolute;
	top: 42px;
	left: 12px;
	height: 420px;
	width: 754px;
	background: #000;
	border: 2px inset #F44;
	margin: 0px;	
	overflow: hidden;
	z-index: 1;
	cursor: text;
	}
#RAI_options {
	position: absolute;
	top: 0px;
	left: 12px;
	}
#RAI_options *  {
	float: left;
	}
#RAI_active, #RAI_syntaxHighlight, #RAI_autosave, #RAI_autostart {
	display: inline-block;
	height: 41px;
	width: 151px;
	margin-left: 74px;
	background: no-repeat 0 0;
	}
#RAI_active {
	background-image:url(../AIFrames/buttons/Active-eve.png);
	opacity: 0.5;
	}
#RAI_active.active {
	background-position: 0 -82px;
	filter:opacity(100);
	opacity: 1;
	}
#RAI_autosave {
	background-image:url(../AIFrames/buttons/autosave.png);
	}
#RAI_autostart {
	background-image:url(../AIFrames/buttons/autostart.png);
	}
#RAI_autosave:hover, #RAI_autostart:hover {
	background-position: 0 -41px;
	}
#RAI_autosave:active, #RAI_autosave.active, #RAI_autostart:active, #RAI_autostart.active {
	background-position: 0 -82px;
	}
#RAI_new2 {
	position: absolute;
	top: 470px;
	left: 54px;
	}
#RAI_new, #RAI_run, #RAI_save, #RAI_stop {
	position: relative;
	top: 485px;
	left: 12px;
	display: inline-block;
	height: 41px;
	width: 151px;
	margin-left: 30px;
	background-repeat: no-repeat;
	background-position:0 -41px;
	
	}
#RAI_new {
	background-image: url(../AIFrames/buttons/New-eve.png);
	}
#RAI_run {
	background-image: url(../AIFrames/buttons/Run-eve.png);
	}
#RAI_save {
	background-image: url(../AIFrames/buttons/Save-eve.png);
	}
#RAI_stop {
	background-image: url(../AIFrames/buttons/Stop-eve.png);
	}
#RAI_new:hover, #RAI_run:hover, #RAI_save:hover, #RAI_stop:hover {
	background-position: 0 0;
	}
#RAI_new:active, #RAI_run:active, #RAI_save:active, #RAI_stop:active {
	background-position: 0 -82px;
	}