#RAI_script, #RAI_scriptDisplay  {
	position: absolute;
	top: 42px;
	left: 12px;
	background: #000000;
	color: #FFFFFF;
	border: 1px inset #FFF;
	padding: 2px 0px 0px 2px;
	margin: 0px;
	font-family:monospace;
	font-size: 13px;
	white-space: pre;
	word-wrap: normal;
	}
#RAI_script {
	height: 437px;
	width: 750px;
	overflow: scroll;
	z-index: 2;
	}
.pointerevents #RAI_script.highlight {
	color: #AAA;
	z-index: 1;
	}
.no-pointerevents #RAI_script.highlight {
	background: transparent;
	color: transparent;
	}
#RAI_scriptDisplay {
	height: 420px;
	width: 733px;
	overflow: hidden;
	z-index: 1;
	}
.pointerevents #RAI_scriptDisplay {
	background: transparent;
	pointer-events: none;
	z-index: 2;
	}
.pointerevents #RAI_scriptDisplay.nohighlight {
	display: none;
	}
#RAI_options {
	position: absolute;
	top: 0px;
	left: 12px;
	}
#RAI_options *  {
	float: left;
	}
#RAI_active, #RAI_syntaxHighlight, #RAI_autosave, #RAI_autostart {
	display: inline-block;
	height: 41px;
	width: 151px;
	margin-left: 30px;
	background: no-repeat 0 0;
	}
#RAI_active {
	background-image:url(../AIFrames/buttons/Active-eve.png);
	filter:alpha(opacity=50);
	}
#RAI_active.active {
	background-position: 0 -82px;
	filter:alpha(opacity=100);
	opacity: 1;
	}
#RAI_syntaxHighlight {
	background-image:url(../AIFrames/buttons/syntax.png);
	}
#RAI_autosave {
	background-image:url(../AIFrames/buttons/autosave.png);
	}
#RAI_autostart {
	background-image:url(../AIFrames/buttons/autostart.png);
	}
#RAI_syntaxHighlight:hover, #RAI_autosave:hover, #RAI_autostart:hover {
	background-position: 0 -41px;
	}
#RAI_syntaxHighlight:active, #RAI_syntaxHighlight.active, #RAI_autosave:active, #RAI_autosave.active, #RAI_autostart:active, #RAI_autostart.active {
	background-position: 0 -82px;
	}
#RAI_new, #RAI_run, #RAI_save, #RAI_stop {
	position: relative;
	top: 485px;
	left: 12px;
	display: inline-block;
	height: 41px;
	width: 151px;
	margin-left: 30px;
	background-repeat: no-repeat;
	background-position:0 -41px;
	
	}
#RAI_new {
	background-image: url(../AIFrames/buttons/New-eve.png);
	}
#RAI_run {
	background-image: url(../AIFrames/buttons/Run-eve.png);
	}
#RAI_save {
	background-image: url(../AIFrames/buttons/Save-eve.png);
	}
#RAI_stop {
	background-image: url(../AIFrames/buttons/Stop-eve.png);
	}
#RAI_new:hover, #RAI_run:hover, #RAI_save:hover, #RAI_stop:hover {
	background-position: 0 0;
	}
#RAI_new:active, #RAI_run:active, #RAI_save:active, #RAI_stop:active {
	background-position: 0 -82px;
	}
.magicWord {color:blue;}
.number {color:red;}
.comment, .comment * {color:#0C0;}
.string, .string * {color:#AAA;}
.regEcp, .regExp * {color:#90F;}