#RAI_scriptDisplay  {
	position: absolute;
	top: 50px;
	left: 0px;
	height: 420px;
	width: 740px;
	background: rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;	
	overflow: hidden;
	z-index: 1;
	}
#RAI_options {
	position: absolute;
	top: 7px;
	left: 12px;
	}
#RAI_options *  {
	float: left;
	}
#RAI_controls {
	position: absolute;
	bottom: 0px;
	left: 0px;
	}
#RAI_options div, #RAI_controls div {
	display: inline-block;
	height: 37px;
	width: 164px;
	padding-top: 10px;
	margin-left: 74px;
	background: url(../SPFrames/button-template.png) no-repeat 0 0;
	color: #A9A098;
	font: bold 1em "Trajan Pro", Trajan, serif;
	font-weight:;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8), 0 -1px 0 rgba(255, 255, 255, 0.3);
	text-align: center;
	cursor: default;
	}
#RAI_controls div {
	margin-left: 10px;
	}
#RAI_controls div:hover, #RAI_options div:hover {
	background-position: -164px 0;
	}
#RAI_controls div:active, #RAI_options div:active, #RAI_options div.active {
	background-position: -327px 0;
	height: 35px;
	padding-top: 12px;
	}
/*Have to be very specific here to override the other settings*/
div#RAI_active, div#RAI_active:hover, div#RAI_active:active {
	height: 40px;
	width: 157px;
	background: url(../SPFrames/EVE/active-button.png) no-repeat 0 0;
	}
div#RAI_active.active {
	background-position: -157px 0;
	}