/************************************************************************************************************************************************
 * CSS code for quest menu and quest popup
************************************************************************************************************************************************/
#quest_outerBox {
	height: 500px;
	padding: 10px;
	color: #282415;
	text-shadow: 0 1px 1px rgba(240, 225, 163, 0.7);
	}
#quest_listNoStart, #quest_listStarted, #quest_listFinished {
	display: inline-block;
	height: 100%;
	width: 32%;
	background: rgba(0, 0, 0, 0.3);
	padding-left: 9px;
	border-right: 1px solid #000;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	float: left;
	}
#quest_listNoStart {
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	}
#quest_listFinished {
	border-right: none;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
	}
.header {
	font-size: 18px;
	}
.quest {
	margin-left: 20px;
	cursor: pointer;
	}
.quest:hover {
	text-decoration: underline;
	}
#quest_box  {
	position: absolute;
	top: 25px;
	left: 50%;
	display: none;
	margin-left: -300px;
	z-index: 50;
	}
#quest_leave {
	position: absolute;
	bottom: 0px;
	right: 0px;
	}
#quest_text {
	height: 490px;
	width: 590px;
	background: rgba(0,0,0,0.3);
	padding: 5px;
	margin-bottom: 50px;
	border: 1px groove #AAAAAA;
	font: 14px "Lucida Sans Unicode", LucidaSans, "Lucida Grande", sans-serif;
	overflow: auto;
	}
#quest_text ul {
	padding-left: 40px;
	}
#quest_video {
	padding-left: 80px;
	}
#quest_hint {
	height: 150px;
	width: 600px;
	border: 1px solid #AAAAAA;
	overflow: auto;
	}
#quest_titlebar {
	height: 35px;
	padding-top: 5px;
	cursor: move;
	}
#quest_titlebar span {
	position: absolute;
	top: 10px;
	left: 200px;
	font-size:1.25em;
	}
#quest_status {
	color: lime;
	width: 110px;
	height:20px;
	text-align: center;
	border: 3px solid lime;
	}
#quest_status {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.goalBox {
	margin-bottom: 10px;
	}
.rewardBox {
	margin-top: 15px;
	}
.rewardBlock div {
	display: inline-block;
	padding: 2px 10px 0;
	height: 18px;
	margin-top: 5px;
	padding-right: 10px;
	}
.rewardMetal {
	padding-left: 17px;
	background: url(../SPFrames/Buildings/UI/metal-icon.png) no-repeat left top;
	}
.rewardTimber {
	background: url(../SPFrames/Buildings/UI/wood-icon.png) no-repeat left top;
	padding-left: 22px;
	}
.rewardCrystal {
	background: url(../SPFrames/Buildings/UI/crystal-icon.png) no-repeat left top;
	padding-left: 17px;
	}
.rewardFood {
	background: url(../SPFrames/Buildings/UI/food-icon.png) no-repeat left top;
	padding-left: 13px;
	}