/*************************************************************************************************************************************************
 * Raid list CSS Code 
 ************************************************************************************************************************************************/
#attacklist {
	position: absolute;
	bottom: 72px;
	left: 49px;
	max-height: 350px;
	border-radius: 20px 20px 0px 0px;
	font-weight: bold;
	z-index: 20;
	}
#incomming_attacks, #outgoing_attacks {
	display: table-cell;
	padding: 5px;
	}
#incomming_attacks {
	border-right: 2px ridge #A8A495;
	}
#attacklist li {
	width: 100%;
	font-weight: normal;
	list-style: none;
	}
.raidID {
	display: none;
	}
.raidETA {
	text-align: right;
	}
.recall {
	position: relative;
	top: 5px;
	display: none;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	}