/************************************************************************************************************************************************
 * CSS code for the resource display areas
************************************************************************************************************************************************/
#resourcebar {
	position: absolute;
	top: 69px;
	margin-left: 50px;
	width: 822px;
	height: 34px;
	z-index: 4;
	}
#resourcebar li {
	position: relative;
	top: 0px;
	left: 43px;
	float: left;
	display: inline;
	padding-top: 6px;
	padding-right: 11px;
	width: 89px;
	height: 28px;
	margin: 0 20px;
	background-image: url(../SPFrames/resource-counters.png);
	background-repeat: no-repeat;
	color: #433420;
	font: bold 14px "Trajan Pro","Trajan","Lucida Console",sans-serif;
	letter-spacing: 4px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	text-align: right;
	}
#wood {
	background-position: 0 0;
	}
#synth {
	background-position: -100px 0;
	}
#steel {
	background-position: -200px 0;
	}
#food {
	background-position: -300px 0;
	}
	
#menu {
	position: absolute;
	top: 55px;
	right: 0px;
	height: 47px;
	width: 91px;
	background: url(../SPFrames/menu-button.png) no-repeat 0 0;
	cursor: pointer;
	z-index: 5;
	}
#menu:hover, #menu:active, #menu.open  {
	top: 60px;
	}
#dropdown_menu {
	position: absolute; 
	top: 80px;
	right: 0px;
	display: none;
	padding-top: 43px;
	width: 678px;
	height: 39px;
	background: url(../SPFrames/menu-bar.png) no-repeat left top;
	font: bold 14px "Trajan Pro", Trajan, sans-serif;
	color: #A9A098;
	text-shadow: 0 1px rgba(0, 0, 0, 0.8), 0 -1px rgba(255, 255, 255, 0.3);
	z-index: 4;
	}
#dropdown_menu li {
	position: relative;
	right: 50px;
	margin-left: 16px;
	list-style: none;
	float: right;
	cursor: pointer;
	}
#dropdown_menu li:active {
	text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
	}
#premium {
	width: 93px;
	text-align: center;
	}
#options {
	width: 72px;
	text-align: center;
	}
#dropdown_menu a {
	text-decoration: none;
	color: #A9A098;
	}