/* *********************************************************************
 * Status Reports CSS
***********************************************************************/
#SR_reports {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 520px;
	width: 768px;
	padding-left: 6px;
	padding-top: 5px;
	}
#SR_reports .darkFrameBody {
	padding-top: 0px;
	height: 495px;
	}
#SR_mainTabs {
	position: relative;
	height: 41px;
	width: 100%;
	}
#SR_window {
	height: 465px;
	width: 100%;
	overflow: auto;
	color: #FFF;
	}
#SR_window a {
	color: #AAAAAA;
	}
#SR_window a:active {
	color: #CCCCCC;
	}
.timeStamp {
	float: right;
	color: #AAAAAA !important;
	}
.unread {
	color: #FFFFFF !important;
	}
#SR_window #SR_reportList {
	padding-left: 20px;
	margin-bottom: 25px;
	min-height: 436px;
	}
a#SR_allTab {
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: block;
	height: 41px;
	width: 91px;
	background: url(../AIFrames/buttons/All-parent.png) no-repeat 0 -41px;
	}
#SR_allTab:hover {
	background-position: 0 0;
	}
#SR_allTab:active, #SR_allTab.active {
	background-position: 0 -82px;
	}
#SR_attackTab {
	position: absolute;
	bottom: 0px;
	left: 91px;
	display: block;
	height: 41px;
	width: 151px;
	background: url(../AIFrames/buttons/Attacks-parent.png) no-repeat 0 -41px;
	}
#SR_attackTab:hover {
	background-position: 0 0;
	}
#SR_attackTab:active, #SR_attackTab.active {
	background-position: 0 -82px;
	}
#SR_spyTab {
	position: absolute;
	bottom: 0px;
	left: 242px;
	display: block;
	height: 41px;
	width: 94px;
	background: url(../AIFrames/buttons/spy.png) no-repeat 0 -41px;
	}
#SR_spyTab:hover {
	background-position: 0 0;
	}
#SR_spyTab:active, #SR_spyTab.active {
	background-position: 0 -82px;
	}
#SR_supportTab {
	position: absolute;
	bottom: 0px;
	left: 336px;
	display: block;
	height: 41px;
	width: 151px;
	background: url(../AIFrames/buttons/support.png) no-repeat 0 -41px;
	}
#SR_supportTab:hover {
	background-position: 0 0;
	}
#SR_supportTab:active {
	background-position: 0 -82px;
	}
#SR_archiveTab {
	position: absolute;
	bottom: 0px;
	left: 487px;
	display: block;
	height: 41px;
	width: 151px;
	background: url(../AIFrames/buttons/archive.png) no-repeat 0 -41px;
	}
#SR_archiveTab:hover {
	background-position: 0 0;
	}
#SR_archiveTab:active, #SR_archiveTab.active {
	background-position: 0 -82px;
	}
#SR_searchTab {
	position: absolute;
	bottom: 0px;
	left: 638px;
	display: block;
	height: 41px;
	width: 118px;
	background: url(../AIFrames/buttons/search.png) no-repeat 0 -41px;
	}
#SR_searchTab:hover {
	background-position: 0 0;
	}
#SR_searchTab:active, #SR_searchTab.active {
	background-position: 0 -82px;
	}
	
#SR_secondaryTabs {
	position: relative;
	top: -5px;
	height: 41px;
	width: 100%;
	z-index: 1;
	}
#SR_sWindow {
	display: none;
	height: 424px;
	}
#SR_sWindow #SR_reportList {
	min-height: 395px;
	}
#SR_sAllTab {
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: block;
	height: 41px;
	width: 76px;
	background: url(../AIFrames/buttons/All-child.png) no-repeat 0 -41px;
	}
#SR_sAllTab:hover {
	background-position: 0 0;
	}
#SR_sAllTab:active, #SR_sAllTab.active {
	background-position: 0 -82px;
	}
#SR_sAttackTab {
	position: absolute;
	bottom: 0px;
	left: 76px;
	display: block;
	height: 41px;
	width: 128px;
	background: url(../AIFrames/buttons/Attacks-child.png) no-repeat 0 -41px;
	}
#SR_sAttackTab:hover {
	background-position: 0 0;
	}
#SR_sAttackTab:active, #SR_sAttackTab.active {
	background-position: 0 -82px;
	}
#SR_sGenocideTab {
	position: absolute;
	bottom: 0px;
	left: 204px;
	display: block;
	height: 41px;
	width: 91px;
	background: url(../AIFrames/buttons/siege.png) no-repeat 0 -41px;
	}
#SR_sGenocideTab:hover {
	background-position: 0 0;
	}
#SR_sGenocideTab:active, #SR_sGenocideTab.active {
	background-position: 0 -82px;
	}
#SR_sInvadeTab {
	position: absolute;
	bottom: 0px;
	left: 295px;
	display: block;
	height: 41px;
	width: 156px;
	background: url(../AIFrames/buttons/invasions.png) no-repeat 0 -41px;
	}
#SR_sInvadeTab:hover {
	background-position:  0 0;
	}
#SR_sInvadeTab:active, #SR_sInvadeTab.active {
	background-position:  0 -82px;
	}
#SR_sStrafeTab {
	position: absolute;
	bottom: 0px;
	left: 451px;
	display: block;
	height: 41px;
	width: 111px;
	background: url(../AIFrames/buttons/strafe.png) no-repeat 0 -41px;
	}
#SR_sStrafeTab:hover {
	background-position:  0 0;
	}
#SR_sStrafeTab:active, #SR_sStrafeTab.active {
	background-position:  0 -82px;
	}
a#SR_sGlassTab {
	position: absolute;
	bottom: 0px;
	left: 562px;
	display: block;
	height: 41px;
	width: 142px;
	background: url(../AIFrames/buttons/glassing.png) no-repeat 0 -41px;
	}
#SR_sGlassTab:hover {
	background-position:  0 0;
	}
#SR_sGlassTab:active, #SR_sGlassTab.active {
	background-position:  0 -82px;
	}
.offNumE li {
	list-style: none;
	}
#SR_window input {
	float: right;
	}
#SR_reportList li {
	height: 20px;
	}
#SR_reportBody {
	display: table;
	margin: 0 auto;
	padding-bottom: 60px;
	}
#SR_reportBody .textFramed {
	padding: 0px;
	}
#SR_repHeader {
	font-size: 24px;
	margin-bottom: 15px;
	}
#SR_BPgained {
	position: absolute;
	top: 25px;
	right: 5px;
	font-size: 16px;
	}
#SR_offMain, #SR_defMain, .offSupp, .defSupp {
	margin-bottom: 5px;
	}
#SR_offense, #SR_defense {
	display: table-row-group;
	}
#SR_offense, #SR_defense, .support {
	display: table-row;
	}
.offAU, .defAU, .legend {
	display: table-cell;
	height: 45px;
	padding: 4px;
	border: solid #FFFFFF;
	border-width: 0 1px;
	}
.legend  {
	border: none;
	color: #AAAAAA;
	filter:alpha(opacity=50);
	opacity: .50;
	}
.offAU span, .defAU span{
	display: block;
	text-align: center;
	}
.offNumE, .defNumE {
	border-top: 1px solid #FFFFFF;
	}
#SR_bldgAmts {
	padding: 20px;
	}
#SR_buttons {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 30px;
	}
#SR_buttons a {
	float: right;
	margin: 0 2px;
	}
#SR_delete, #SR_deleteMulti {
	clear: right;
	}
#SR_combatInfoBox {
	width: 680px;
	margin-top: 10px;
	color: #000000;
	overflow: hidden;
	}
#SR_combatInfoBar {
	position: relative;
	width: 100%;
	height: 25px;
	}
#SR_more-lessInfo {
	display: inline-block;
	height: 25px;
	width: 25px;
	background: url(../../images/client/menus/more-lessButton.png) no-repeat 0 0;
	}
#SR_more-lessInfo.open {
	background-position: 0 -25px;
	}
#SR_combatInfoBar span {
	position: absolute;
	top: 1px;
	left: 250px;
	}
#SR_combatInfo {
	display: none;
	padding: 3px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	}
#SR_fbBlast {
	position: absolute;
	bottom: 30px;
	right: 5px;
	}
#SR_resTaken img, #SR_debrisGen img {
	position: relative;
	top: 5px;
	margin-right: 15px;
	}