/* *********************************************************************
 * Trade Center CSS
***********************************************************************/
#TC_tabBar, #TC_tradeListBox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: start;
	-webkit-box-align: start;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: start;
	-moz-box-align: start;
	
	display: box;
	box-orient: horizontal;
	box-pack: start;
	box-align: start;
	}
#TC_tabBar {
	position: relative;
	top: -5px;
	left: 13px;
	}
.no-flexbox #TC_tabBar {
	height: 40px;
	}
.TCtab {
	font-size: 20px;
	cursor: pointer;
	}
.no-flexbox .TCtab {
	float: left;
	}
#TC_scrollBox {
	height: 100%;
	width: 780px;
	overflow: auto;
	}
#TC_innerBox {
	padding: 0 15px;
	}
#TC_activeTrades, #TC_tradeSchedules {
	position:relative;
	}
#TC_trades > span {
	display: block;
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	}
#TC_directTrade, #TC_createTrade {
	position: relative;
	margin: 0 38px;
	color: #FFF;
	float: left;
	}
#TC_sendTrade .darkFrameBody, #TC_createTrade .darkFrameBody {
	height: 240px;
	padding: 5px 15px 0;
	}
#TC_sendTrade input, #TC_createTrade input {
	width: 100px;
	}
#TC_sendTrade label, #TC_createTrade label {
	display: inline-block;
	width: 80px;
	padding-right: 5px;
	}
#TC_ltTradersNeeded,#TC_dtTradersNeeded,#TC_dtETA {
	height: 14px;
	}
#TC_dtETA {
	text-align: right;
	}
#TC_dtTradeTo {
	margin: 10px 0;
	text-align: center;
	}
#TC_dtTradeTo label, #TC_dtTradeTo label {
	width: 20px;
	}
#TC_dtX, #TC_dtY {
	width: 50px !important;
	}
#TC_dtSend, #TC_ltSend {
	position: absolute;
	bottom: 0px;
	font-size: 16px;
	color: #000;
	cursor: pointer;
	}
#TC_dtSend {
	left: 0px;
	}
#TC_ltSend {
	right: 0px;
	}
.noTrade {
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor: default;
	}
.tradeList {
	height: 115px;
	width: 720px;
	}
.tradeRow {
	position: relative;
	height: 25x;
	}
.tradeRow > div {
	display: table-cell;
	height: 20px;
	padding: 5px 0 0;
	border-right: 1px solid #000;
	border-right: 1px solid rgba(0,0,0,0.5);
	text-align: center;
	}
.tradeRow img, #TC_tradeInfo img {
	position: relative;
	top: 8px;
	margin-top: -14px;
	}
.keys span {
	display: table-cell;
	border-right: 1px solid black;
	text-align: center;
	}
.numTradersKey {
	width: 65px;
	}
.destinationKey {
	width: 175px;
	}
#TC_tradeSchedules .destinationKey {
	padding-left: 20px;
	}
.originKey {
	width: 175px;
	}
.resourcesKey {
	width: 180px;
	}
.intervalKey {
	width: 80px;
	}
.remainingKey {
	border: none !important;
	width: 80px;
	}
.etaKey {
	border: none !important;
	width: 100px;
	}
.traders {
	width: 65px;
	}
.destTown {
	width: 175px;
	}
#TC_tradeSchedules .destTown {
	padding-left: 20px !important;
	}
.origin {
	width: 175px;
	}
.resMoving {
	width: 180px;
	}
.ETA {
	border: none !important;
	width: 100px;
	}
.timeTillNext {
	width: 80px;
	}
.numToDo {
	width: 80px;
	border: none !important;
	}
.cancel {
	position: absolute;
	top: 2px;
	left: 0px;
	display: inline-block !important;
	width: 20px;
	padding: 0 !important;
	border: none !important;
	background: url("../../images/client/buildings/Cancel-button.png") no-repeat 0 0;
	cursor: pointer;
	}
.cancel:active {
	background-position: 0 -20px;
	}
#TC_instantSM {
	background-color: #000000;
	top: 110px;
	}
#TC_marketBox {
	padding: 0 10px;
	}
#TC_filterBar {
	padding: 0 0 5px 5px;
	border-bottom: 1px solid #FFF;
	margin-left: -5px;
	filter:alpha(opacity=50);
	opacity: 0.5;
	}
#TC_filterBar div {
	display: inline;
	}
#TC_trades {
	height: 215px;
	width: 550px;
	}
#TC_tradeInfo {
	position: relative;
	height: 275px;
	width: 190px;
	padding-left: 5px;
	border-left: 1px solid #FFF;
	margin: -5px 0 -15px;
	}
#TC_infoHeader {
	margin: 0 0 5px;
	}
#TC_tradeInfo h2 {
	margin: 5px 0 0;
	}
#TC_isssuePlayer div,#TC_issueTown div,#TC_issueRes div,#TC_issueCost div,#TC_issueDist div {
	height: 14px;
	}
#TC_purchaseTrade {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 20px
	}
#TC_purchaseTrade .lightFrameBody {
	height: 15px;
	cursor: pointer;
	}
#TC_dtSend[class=""]:active .lightFrameBody, #TC_ltSend[class=""]:active .lightFrameBody, #TC_purchaseTrade[class=""]:active .lightFrameBody {
	background: url("../AIFrames/Content Frame Elements/Dark-body.png");
	color: #FFFFFF;
	}
#TC_dtSend[class=""]:active .lightFrameB, #TC_ltSend[class=""]:active .lightFrameB, #TC_purchaseTrade[class=""]:active .lightFrameB {
	background-image: url("../AIFrames/Content Frame Elements/Dark-BottomTile.png");
	}
#TC_dtSend[class=""]:active .lightFrameBL, #TC_ltSend[class=""]:active .lightFrameBL, #TC_purchaseTrade[class=""]:active .lightFrameBL {
	background-image: url("../AIFrames/Content Frame Elements/Dark-Left-Lowcorner.png");
	}
#TC_dtSend[class=""]:active .lightFrameBR, #TC_ltSend[class=""]:active .lightFrameBR, #TC_purchaseTrade[class=""]:active .lightFrameBR {
	background-image: url("../AIFrames/Content Frame Elements/Dark-Right-Lowcorner.png");
	}
.marketTrade {
	cursor: pointer;
	}
.tradeWhite {
	background: url("../AIFrames/Content Frame Elements/tradeBack-white.png") no-repeat 0 0;
	}
.tradeBlack {
	background: url("../AIFrames/Content Frame Elements/tradeBack-black.png") no-repeat 0 0;
	color: #FFF;
	}
#TC_keys > div {
	display: table-cell;
	border-right: 1px solid black;
	text-align: center;
	cursor: pointer;
	}
#TC_playerKey {
	width: 145px;
	}
#TC_townKey {
	width: 170px;
	}
#TC_resKey {
	width: 150px;
	}
#TC_distKey {
	width: 70px;
	border: none !important;
	}
.origPlayer {
	width: 145px;
	font-size: 12px;
	}
.origTown {
	width: 170px;
	}
.resOffer {
	width: 150px;
	}
.distance {
	width: 70px;
	border: none !important;
	}
.marketTrade.active {
	background-color: #FD3;
	cursor: default;
	}