/************************************************************************************************************************************************
 * Town view CSS Code
************************************************************************************************************************************************/
/*******************************************************************
 ** Building CSS
*******************************************************************/
#townview {
	height: 100%;
	width: 100%;
	overflow: hidden;
	}
#townback, #townview {
	position: absolute;
	top: 0;
	left: 0;
	}
.bldg {
	position: absolute;
	}
.bldg img {
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: block;
	min-height: 27px;
	min-width: 45px;
	cursor: pointer;
	}
img.lvlImage  {
	bottom: -4px;
	right: -5px;
	z-index: -1;
	}
.emptylot, .buildlot {
	background: no-repeat left bottom;
	}
.emptylot img {
	background: url(../SPFrames/Buildings/empty-lot.png) no-repeat left bottom;
	} 
.locked, .locked img  {
	display: none;
	}
#enginespin1 {
	position: absolute;
	bottom: 36px;
	right: 283px;
	}
#enginespin2 {
	position: absolute;
	bottom: 163px;
	right: 71px;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	}
#pos0, #pos1, #pos2, #pos3 {
	z-index: 4;
	}
#pos0 img:hover, #pos1 img:hover, #pos2 img:hover, #pos3 img:hover {
	}
#pos0 {
	top: 174px;
	left: 95px;
	background: transparent !important;
	z-index: 1;
	}
#pos1 {
	top: 504px;
	left: 180px;
	background: transparent !important;
	z-index: 1;
	}
#pos2 {
	top: 104px;
	left: 725px;
	background: transparent !important;
	z-index: 1;
	}
#pos3 {
	top: 514px;
	left: 595px;
	background: transparent !important;
	z-index: 1;
	}
.zeppelin #pos0,.zeppelin #pos1,.zeppelin #pos2,.zeppelin #pos3 {
	display: none;
	}
#pos4{
	top: 347px;
	left: 480px;
	z-index: 2;
	}
.zeppelin #pos4 {
	top: 195px;
	left: 321px;
	visibility: hidden;
	}
#pos5{
	top: 379px;
	left: 379px;
	z-index: 3;
	}
.zeppelin #pos5 {
	top: 203px;
	left: 326px;
	}
#pos6{
	top: 299px;
	left: 520px;
	z-index: 3;
	}
.zeppelin #pos6 {
	top: 299px;
	left: 377px;
	}
#pos7{
	top: 136px;
	left: 495px;
	z-index: 2;
	}
.zeppelin #pos7 {
	top: 237px;
	left: 377px;
	}
#pos8{
	top: 147px;
	left: 625px;
	z-index: 1;
	}
.zeppelin #pos8 {
	top: 269px;
	left: 425px;
	}
#pos9{
	top: 204px;
	left: 175px;
	z-index: 1;
	}
.zeppelin #pos9 {
	top: 324px;
	left: 468px;
	}
#pos10{
	top: 114px;
	left: 405px;
	z-index: 1;
	}
#pos11{
	top: 259px;
	left: 330px;
	z-index: 1;
	}
#pos12{
	top: 189px;
	left: 690px;
	z-index: 3;
	}
#pos13{
	top: 437px;
	left: 495px;
	z-index: 2;
	}
#pos14{
	top: 347px;
	left: 272px;
	z-index: 2;
	}
#pos15{
	top: 308px;
	left: 693px;
	z-index: 2;
	}
#pos16{
	top: 283px;
	left: 85px;
	z-index: 2;
	}
#pos17{
	top: 410px;
	left: 274px;
	z-index: 3;
	}
#pos18{
	top: 444px;
	left: 303px;
	z-index: 4;
	}
/*******************************************************************
 ** Blocking Element CSS
*******************************************************************/
.blocker {
	position: absolute;
	z-index: 3;
	pointer-events: none;
	}
#town_t3-wall-segment {
	top: 360px;
	left: 281px;
	}
#town_t4-wall-segment {
	top: 360px;
	left: 281px;
	}
#town_gate-roof {
	top: 277px;
	left: 591px;
	}
#town_house-wall {
	top: 80px;
	left: 580px;
	}
#town_left-lantern {
	top: 179px;
	left: 159px;
	}
#town_right-lantern-1 {
	top: 162px;
	left: 615px;
	}
#town_right-lantern-2 {
	top: 168px;
	left: 676px;
	}
#town_elevator-top {
	top: 84px;
	left: 342px;
	}
/*******************************************************************
 ** Building Construction Menu CSS
*******************************************************************/
#town_buildBldgMenuBack {
	position: absolute;
	top: -3px;
	left: 802px;
	height: 100%;
	width: 800px;
	background: url(../SPFrames/rusted-metal.jpg) repeat left top;
	border: 3px solid #A8A495;
	-webkit-border-radius: 20px 0px 0px 20px;
	-moz-border-radius: 20px 0px 0px 20px;
	border-radius: 20px 0px 0px 20px;
	border-right: none;
	}
#town_buildBldgMenu {
	position: absolute;
	top: 0px;
	left: 802px;
	color: #FFF;
	z-index: 100;
	}
#town_buildBldgList {
	height: 493px;
	width: 771px;
	overflow: hidden;
	}
#town_buildBldgMenu li{
	position: relative;
	list-style: none;
	border-bottom: 1px solid #FFFFFF;
	height: 150px;
	margin-left: 5px;
	}
#town_buildingListTabs {
	border-bottom: 1px solid #FFF;
	}
.flexbox #town_buildingListTabs {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: start;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: start;
	
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: start;
	}
.no-flexbox #town_buildingListTabs {
	height: 40px;
	}
#town_buildingListTabs  div {
	position: relative;
	top: 5px;
	height: 47px;
	width: 164px;
	background-image: url(../SPFrames/Buildings/UI/BCM/nav.png);
	}
.no-flexbox #town_buildingListTabs  div {
	left: 200px;
	}
#town_unlocked {
	background-position: 0 -47px;
	}
#town_unlocked:hover {
	background-position: -163px -47px;
	}
#town_unlocked:active, #town_unlocked.open {
	background-position: -327px -47px;
	}
#town_locked {
	background-position: 0 0;
	}
#town_locked:hover {
	background-position: -163px 0;
	}
#town_locked:active, #town_locked.open {
	background-position: -327px 0;
	}
.bldgPic {
	float: left;
	height: 123px;
	width: 116px;
	margin: 10px;
	}
.buildBldgButton {
	position: absolute;
	bottom: 5px;
	right: 5px;
	}
.buildButton {
	display: block;
	height: 48px;
	width: 99px;
	background: url(../SPFrames/Buildings/UI/build-button.png) no-repeat 0 0;
	}
.buildButton:hover {
	background-position: -99px 0;
	}
.buildButton:active, .buildButton.noBld {
	background-position: -198px 0;
	}
#town_bldError {
	position: absolute;
	top: 10px;
	left: 160px;
	color: red;
	}
#town_buildableList, #town_notBuildableList {
	height: 465px;
	width: 740px;
	color: #B5B1A2;
	font: 11pt "Minion Pro", Minion, serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8), 0 -1px rgba(255, 255, 255, 0.3);
	}
.town_bldgRes {
	position: absolute;
	top: 5px;
	right: 5px;
	display: block;
	height: 70px;
	text-align: right;
	}
.town_bldgResMetal, .town_bldgResManMade, .town_bldgResTimber, .town_bldgResFood  {
	display: block;
	float: right;
	width: 46px;
	height: 28px;
	padding: 10px 5px 0px 5px;
	color: #A57862;
	font: 9pt "Lucida Sans Unicode", LucidaSans, "Lucida Grande", sans-serif;
	}
.town_bldgResMetal {
	background: url(../SPFrames/Buildings/UI/metal-icon.png) no-repeat 6px center, url(../SPFrames/Buildings/UI/BCM/icon-spot.png) no-repeat left top;
	}
.town_bldgResManMade {
	background: url(../SPFrames/Buildings/UI/crystal-icon.png) no-repeat 6px center, url(../SPFrames/Buildings/UI/BCM/icon-spot.png) no-repeat left top;
	}
.town_bldgResTimber {
	background: url(../SPFrames/Buildings/UI/wood-icon.png) no-repeat 6px center, url(../SPFrames/Buildings/UI/BCM/icon-spot.png) no-repeat left top;
	}
.bldgTitle {
	font-size: 14pt;
	margin: 10px 0;
	}
.bldgDesc {
	height: 100px;
	width: 400px;
	overflow: auto;
	}
/************************************************************************************************************************************************
 * Town list CSS Code
************************************************************************************************************************************************/
#townlist {
	position: absolute;
	top: -900000px; /*set to 68px to slide down*/
	left: 120px;
	display: block;
	margin:0px;
	padding: 0px;
	color: #9f9b8a;
	font: 11pt bold "Minion Pro", Minion, sans-serif;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8), 0 -1px 0 rgba(255,255,255,0.3);
	z-index: 5;	
	}
#townlist li {
	width: 156px;
	height: 35px;
	margin-top: -12px;
	padding-top: 15px;
	display: block;
	background: url(../SPFrames/town-select.png) no-repeat top left;
	}
.noShow {
	display: none;
	}
/************************************************************************************************************************************************
 * Building Server CSS Code
************************************************************************************************************************************************/
#town_bldgBldgsPopup {
	z-index: 3;
	color: #FFF;
	cursor: default;
	}
#town_bldgBldgsBar {
	position: absolute;
	bottom: 0px;
	left: 350px;
	display: none;
	height: 33px;
	width: 46px;
	background: url(../SPFrames/BSM-button.png) no-repeat 0 0;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	}
#town_bldgBldgsBar:active {
	background-position: -46px 0;
	}
#town_bldgBldgsBar.open {
	background-position: -93px 0;
	}
#town_bldgBldgsBar.open:active {
	background-position: -140px 0;
	}
#town_bldgBldgsList {
	position: absolute;
	bottom: -99999999999999999999px;
	left: 50%;
	padding: 5px;
	background: #222 url(../SPFrames/rusted-metal.jpg);
	border: 3px solid #A8A495;
	-webkit-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	-webkit-box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8);
	box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8);
	}
.flexbox #town_bldgBldgsList ul {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: start;
	-webkit-box-align: start;

	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-pack: start;
	-moz-box-align: start;
	
	display: box;
	box-orient: vertical;
	box-pack: start;
	box-align: start;
	}
#town_bldgBldgsList ul {
	padding-bottom: 5px;
	}
#town_bldgBldgsList li {
	position: relative;
	margin: 2px 0;
	list-style: none;
	}
.bldgTicksToFinish, .bldgName, .cancelButton {
	margin: 0px 5px;
	}
.bldgID, .bldgListID {
	display: none;
	}
.bldgName {
	padding-top: 5px;
	margin-bottom: -3px;
	color: #9f9b8a;
	font: small-caps 12pt "Minion Pro", Minion, sans-serif;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8), 0 -1px 0 rgba(255,255,255,0.3);
	}
.bldgTicksToFinish {
	height: 29px;
	width: 101px;
	color: #a57862;
	font-size: 9pt;
	text-align: center;
	background: url(../SPFrames/text-window.png) no-repeat 0 0;
	padding-top: 5px;
	position: relative;
	top: 10px;
	float: right;
	}
.cancelButton {
	position: relative;
	top: 5px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../SPFrames/Buildings/UI/cancel-button.png) no-repeat 0 0;
	}
.cancelButton:hover{
	background-position: -31px 0;
	}
.cancelButton:active{
	background-position: -60px 0;
	}
.cancelButton.noCancel {
	background: transparent !important;
	cursor: default;
	}
#town_bldgBldgsList .cancelButton {
	position: absolute;
	top: 0px;
	left: -5px;
	}
/************************************************************************************************************************************************
 * Infobar CSS Code
************************************************************************************************************************************************/
#town_infobarOpen {
	position: absolute;
	top: 3px;
	left: 341px;
	height: 38px;
	width: 49px;
	background: url(../SPFrames/RPM-button.png) no-repeat -49px 0;
	cursor: pointer;
	z-index: 5;
	}
#town_infobarOpen:active {
	background-position: 0 0;
	}
#town_infobarOpen.open {
	background-position: -148px -5px;
	}
#town_infobarOpen.open:active {
	background-position: -99px 0;
	}
#town_infobar {
	position: absolute;
	top: 90px;
	left: 85px;
	display: none;
	height: 110px;
	width: 581px;
	background: url(../SPFrames/resource-production.png) no-repeat center bottom;
	z-index: 4;
	}
#town_warehouseMenu {
	position: absolute;
	bottom: 0px;
	}
#town_warehouseMenu > div {
	position: relative;
	bottom: 5px;
	left: 25px;
	display: inline-block;
	width: 110px;
	padding: 5px;
	margin-right: 16px;
	}
.capacityBarBorder {
	width: 99px;
	height: 6px;
	padding: 2px 1px 0 0;
	background: url(../SPFrames/progress-bar.png) no-repeat center center;
	}
.capacityBar {
	height: 6px;
	background: url(../SPFrames/progress-strip.png) no-repeat left center;
	}
.rph {
	position: relative;
	bottom: 40px;
	right: 5px;
	color: #A57862;
	font-size: 7pt;
	text-align: center;
	}