/* *********************************************************************
 * Warehouse & Storage Yard CSS
***********************************************************************/
#Ware_resTotals {
	position: absolute;
	top: 200px;
	left: 150px;
	width: 400px;
	color: #282415;
	font: bold 18px "Trajan Pro", Trajan, serif;
	text-shadow: 0 1px 1px rgba(240, 225, 163, 0.7);
	text-align: center;
	}
#Ware_resDesc, .resDesc {
	display: block;
	text-align: left !important;
	}
#Ware_resPerc {
	position: absolute;
	bottom: 10px;
	left: 170px;
	color: #FFFFFF;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000000;
	}
#Ware_resPercBarBox, .resPercBarBox, .ResCFillBorder {
	background: url(../SPFrames/Buildings/UI/Warehouse/Mine_Fillbox.png) no-repeat 0 0;
	width: 410px;
	height: 42px;
	}
#Ware_resPercBar, .resPercBar, .ResCFillBar {
	background: url(../SPFrames/Buildings/UI/Warehouse/Mine_Fillbar.png) no-repeat left center;
	margin-left: 6px;
	padding-top: 9px;
	height: 32px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	}