/* *********************************************************************
 * Warehouse & Storage Yard CSS
***********************************************************************/
#Ware_resTotals {
	position: absolute;
	top: 200px;
	left: 100px;
	width: 400px;
	text-align: center;
	}
#Ware_resDesc, .resDesc {
	display: block;
	text-align: left !important;
	}
#Ware_resPerc {
	position: absolute;
	top: 35px;
	left: 170px;
	color: #FFFFFF;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000000;
	}
#Ware_resPercBarBox, .resPercBarBox, .ResCFillBorder {
	background: url("../AIFrames/Content Frame Elements/Mine_Fillbox.png") no-repeat 0 0;
	width: 410px;
	height: 42px;
	}
#Ware_resPercBar, .resPercBar, .ResCFillBar {
	background: url("../AIFrames/Content Frame Elements/Mine_Fillbar.png") no-repeat left center;
	margin-left: 5px;
	padding-top: 8px;
	height: 32px;
	border: 1px solid transparent;
	border-radius: 16px;
	}