/* ***********************************************************************************************************************************************
 * Map CSS Code 
 ************************************************************************************************************************************************/
#mapbox {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 524px;
	width: 781px;
	overflow: hidden;
	z-index: 0;
	background: no-repeat bottom right;
	}
.town {
	position: absolute;
	height: 55px;
	width: 65px;
	background: url(../SPFrames/WM/WM-icons.png) no-repeat 0 0;
	z-index: 2;
	cursor: crosshair;
	}
.airship.town {
	height: 103px;
	width: 129px;
	background-image: url(../AIFrames/WM/airship.png);
	z-index: 3;
	opacity:0.50;
	pointer-events: none;
	-webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
	}
.no-pointerevents .airship {
	display: none;
	}
.airshipMode .airship {
	display: block;
	opacity:1;
	pointer-events: auto;
	}
.town.timberO {
	background: url(../SPFrames/WM/WM-icons.png) no-repeat -65px -55px;
	}
.town.metalO {
	background: url(../SPFrames/WM/WM-icons.png) no-repeat 0 -55px;
	}
.town.crystalO {
	background: url(../SPFrames/WM/WM-icons.png) no-repeat -65px 0;
	}
.inc {
	height: 100%;
	width: 100%;
	background: no-repeat center top;
	}
.missionF .inc {
	background-image: url(../AIFrames/WM/incoming.png);
	}
.playerTown.missionF .inc {
	background-image: url(../AIFrames/WM/incoming-player.png);
	}
.missionE .inc {
	background-image: url(../AIFrames/WM/incoming-hostile.png);
	}
.missionC .inc {
	background-image: url(../AIFrames/WM/civilian-indicator.png);
	}
#towninfo {
	position: absolute;
	top: 0px;
	left: 5px;
	height: 526px;
	width: 126px;
	background: url(../SPFrames/WM/sidebar.png) no-repeat left top;
	font: 10px "Lucida Sans Unicode", LucidaSans, "Lucida Grande", sans-serif;
	color: #a57862;
	z-index: 2;
	}
#towninfo span {
	position: absolute;
	left: 16px;
	width: 95px;
	padding-top: 5px;
	text-align: center;
	}
#WM_owner {
	top: 29px;
	}
#WM_townName {
	top: 79px;
	}
#WM_AIActive {
	top: 129px;
	}
#WM_coords {
	top: 180px;
	}
#WM_SSL {
	top: 246px;
	}
#WM_prodMod {
	top: 312px;
	}
#WM_debris {
	top: 410px;
	}
#townMenuPopup {
	position: absolute;
	display: none;
	height: 0px;
	width: 149px;
	z-index: 2;
	background: url(../SPFrames/WM/popup-menu.png) no-repeat left top;
	font: 14px bold "Trajan Pro", Trajan, serif;
	color: #A9A098;
	text-shadow: 0 1px rgba(0, 0, 0, 0.8), 0 -1px rgba(255, 255, 255, 0.3);
	overflow: hidden;
	}
#townMenuPopup div {
	position: relative;
	top: 25px;
	left: 25px;
	margin-bottom: 11px;
	cursor: pointer;
	}
#townMenuPopup div:active, #moveTo.noZep, #viewCity.notMine, #sendTrade.noTrade {
	text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
	}
#moveTo.noZep, #viewCity.notMine, #sendTrade.noTrade {
	opacity: 0.5;
	cursor: default;
	}
#townMenu_content {
	position: absolute;
	display: inline-block;
	}
#townMenuPopup li {
	list-style: none;
	}
#townMenuPopup ul {
	margin: 0;
	padding: 0;
	}
#ownerText {
	border-bottom: 1px solid #FFFFFF;
	color: #FFF;
	}
#townIndex {
	display: none;
	}
#mapHelpButton {
	position: absolute;
	top: 25px;
	right: -85px;
	height: 50px;
	width: 117px;
	background: url(../SPFrames/WM/tutorial-button.png) no-repeat left top;
	cursor: pointer;
	z-index: 102;
	}
#mapHelpButton:active {
	top: 27px;
	background-position: -117px 0;
	}
#mapAirshipToggle {
	position: absolute;
	top: 0px;
	right: 25px;
	height: 26px;
	width: 25px;
	background: url(../AIFrames/WM/buttons/airshipbutton.png) no-repeat 0 0;
	z-index: 102;
	}
#mapAirshipToggle.active {
	background-position: -25px 0;
	}
#mapTileSwitcher {
	position: absolute;
	top: 20px;
	right: 30px;
	display: none;
	border: 3px solid #A8A495;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8), 0px 2px 10px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8), 0px 2px 10px rgba(0,0,0,0.8);
	box-shadow: inset 0px 2px 10px rgba(0,0,0,0.8), 0px 2px 10px rgba(0,0,0,0.8);
	background: url(../SPFrames/rusted-metal.jpg) no-repeat left top;
	color: #000;
	z-index: 101;
	}
#mapTileSwitchButton {
	position: absolute;
	top: 70px;
	right: -85px;
	height: 50px;
	width: 117px;
	background: url(../SPFrames/WM/map-tile-select-button.png) no-repeat left top;
	z-index: 102;
	cursor: pointer;
	}
#mapTileSwitchButton:active, #mapTileSwitchButton.active {
	top: 72px;
	background-position: -117px 0;
	}
.tileDir {
	position: absolute;
	cursor: pointer;
	}
#mapTileUp, #mapTileDown {
	left: 50%;
	height: 10px;
	width: 100px;
	margin-left: -50px;
	}
#mapTileLeft, #mapTileRight {
	top: 50%;
	height: 100px;
	width: 10px;
	margin-top: -50px;
	}
#mapTileUp {
	top: 5px;
	background: url(../SPFrames/WM/tilenavarrow-up.png) no-repeat center center;
	}
#mapTileDown {
	bottom: 5px;
	background: url(../SPFrames/WM/tilenavarrow-down.png) no-repeat center center;
	}
#mapTileLeft {
	left: 5px;
	background: url(../SPFrames/WM/tilenavarrow-left.png) no-repeat center center;
	}
#mapTileRight {
	right: 5px;
	background: url(../SPFrames/WM/tilenavarrow-right.png) no-repeat center center;
	}
#mapTileDisplay {
	position: relative;
	height: 105px;
	width: 120px;
	margin: 20px;
	overflow: hidden;
	}
#tileBox {
	position: absolute;
	}
.maptile {
	position: absolute;
	height: 28px;
	width: 38px;
	padding-top: 5px;
	background: no-repeat top left;
	border: 1px solid #000;
	text-align: center;
	font-size: 12px;
	}
.maptile.active {
	border-color: #FFF;
	}
	
.maptile.grass-1 {
	background-image: url(../SPFrames/WM/grass-1-thumb.jpg);
	}
.maptile.grass-1-irradiated {
	background-image: url(../SPFrames/WM/grass-1-irradiated-thumb.jpg);
	}
.maptile.grass-2 {
	background-image: url(../SPFrames/WM/grass-2-thumb.jpg);
	}
.maptile.grass-2-irradiated {
	background-image: url(../SPFrames/WM/grass-2-irradiated-thumb.jpg);
	}
.maptile.grass-3 {
	background-image: url(../SPFrames/WM/grass-3-thumb.jpg);
	}
.maptile.grass-3-irradiated {
	background-image: url(../SPFrames/WM/grass-3-irradiated-thumb.jpg);
	}
	
.maptile.rock-1 {
	background-image: url(../SPFrames/WM/rock-1-thumb.jpg);
	}
.maptile.rock-1-irradiated {
	background-image: url(../SPFrames/WM/rock-1-irradiated-thumb.jpg);
	}
.maptile.rock-2 {
	background-image: url(../SPFrames/WM/rock-2-thumb.jpg);
	}
.maptile.rock-2-irradiated {
	background-image: url(../SPFrames/WM/rock-2-irradiated-thumb.jpg);
	}
.maptile.rock-3 {
	background-image: url(../SPFrames/WM/rock-3-thumb.jpg);
	}
.maptile.rock-3-irradiated {
	background-image: url(../SPFrames/WM/rock-3-irradiated-thumb.jpg);
	}
	
.maptile.sand-1 {
	background-image: url(../SPFrames/WM/sand-1-thumb.jpg);
	}
.maptile.sand-1-irradiated {
	background-image: url(../SPFrames/WM/sand-1-irradiated-thumb.jpg);
	}
.maptile.sand-2 {
	background-image: url(../SPFrames/WM/sand-2-thumb.jpg);
	}
.maptile.sand-2-irradiated {
	background-image: url(../SPFrames/WM/sand-2-irradiated-thumb.jpg);
	}
.maptile.sand-3 {
	background-image: url(../SPFrames/WM/sand-3-thumb.jpg);
	}
.maptile.sand-3-irradiated {
	background-image: url(../SPFrames/WM/sand-3-irradiated-thumb.jpg);
	}
	
#coordsY {
	position: absolute;
	bottom: 1px;
	left: 128px;
	height: 533px;
	width: 25px;
	background: url(../SPFrames/WM/coord-bar-v.png) no-repeat left top;
	font: 10px "Trajan Pro", Trajan, serif;
	color: #000;
	text-shadow: 0px 1px 0px #C5C5D3;
	z-index: 2;
	}
#coordsY div {
	position: relative;
	top: 17px;
	height: 34px;
	width: 15px;
	padding: 21px 5px 0 0;
	text-align: right;
	}
.airshipMode #coordsY div {
	bottom: 13px;
	}
#coordsX {
	position: absolute;
	bottom: 2px;
	right: 5px;
	width: 628px;
	height: 22px;
	background: url(../SPFrames/WM/coord-bar-h.png) no-repeat left bottom;
	font: 10px "Trajan Pro", Trajan, serif;
	color: black;
	text-shadow: 0px 1px 0px #C5C5D3;
	z-index: 1;
	}
#coordsX div {
	position: relative;
	left: 22px;
	display: inline-block;
	width: 65px;
	padding-top: 5px;
	text-align: center;
	}
#map_territories, .territoryBox, .territory {
	position: absolute;
	z-index: 0;
	}
.territory.vert {
	border-right: 2px solid #FFF;
	}
.territory.horz {
	border-bottom: 2px solid #FFF;
	}